<section class="events" id="events" aria-label="Events Section">
  <div class="grid-container">
    <div class="content-area">
      <div class="text-container">
        <div class="header-container">
          <h2>Industry events</h2>
        </div>
        <div class="description-container">
          <!-- TODO update this copy -->
          <p>Got out to more industry events this year, every single one brought fresh inspiration.</p>
        </div>
      </div>
      <div class="bubbles-left">
        <div class="bubble bubble__large">
          {%- include_relative img/events/config-logo.svg -%}
        </div>
        <div class="bubble bubble__medium">
          {%- include_relative img/events/iac-logo.svg -%}
        </div>
        <div class="bubble bubble__small">
          {%- include_relative img/events/ddx-logo.svg -%}
        </div>
      </div>
      <div class="bubbles-right">
        <div class="bubble bubble__large">
          {%- include_relative img/events/dds-logo.svg -%}
        </div>
        <div class="bubble bubble__medium">
          {%- include_relative img/events/siggraph-logo.svg -%}
        </div>
        <div class="bubble bubble__small">
          {%- include_relative img/events/uxdx-logo.svg -%}
        </div>
      </div>
      <!-- TODO do something with this link -->
      {%- include external-link.html link="https://rehanbutt.com/resources/collection/conferences" content=collection-cta-content css-class="" -%}
    </div>
  </div>
</section>
