<section class="events" id="events" aria-label="Events Section">
  <div class="grid-container">
    <div class="content-area grid-x">
      {% assign events_order = site.events | sort: 'date' %}
      <div class="bubbles-left cell medium-6">
        left bubbles
      </div>
      <div class="text-container cell">
        <div class="header-container">
          <h2>Industry events</h2>
        </div>
        <div class="description-container">
          <!-- TODO update this copy -->
          <p>Got out to more industry events this year, every single one brought fresh inspiration.</p>
        </div>
      </div>
      <div class="bubbles-right cell medium-6"">
        right bubbles
      </div>
      {%- include external-link.html link="https://rehanbutt.com/resources/collection/conferences" content=collection-cta-content css-class="" -%}
    </div>
  </div>
</section>
