<section class="events" id="events" aria-label="Events Section">
  <div class="grid-container">
    <div class="content-area">
      <div class="text-container">
        <div class="header-container">
          <h2>Industry events</h2>
        </div>
        <div class="description-container">
          <p>Attended more industry events this year, each fueling new ideas & perspectives.</p>
        </div>
        <div class="link-container">
          {% capture collection-cta-content %}
          <div class="collection-cta grid-x cell small-8 medium-shrink align-middle align-justify">
            <div class="cell medium-shrink small-10 copy-area">
              Explore my conference recommendations
            </div>
            <div class="cell shrink">
              {% include_relative img/events/arrow-right.svg %}
            </div>
          </div>
          {% endcapture %}
          {%- include external-link.html link="https://rehanbutt.com/resources/collection/conferences" content=collection-cta-content css-class="grid-x cell align-center" -%}
        </div>
      </div>
      <div class="bubbles-left">
        <div class="bubble bubble__large">
          {%- include_relative img/events/config-logo.svg -%}
        </div>
        <div class="bubble bubble__medium">
          {%- include_relative img/events/iac-logo.svg -%}
        </div>
        <div class="bubble bubble__small">
          {%- include_relative img/events/ddx-logo.svg -%}
        </div>
      </div>
      <div class="bubbles-right">
        <div class="bubble bubble__large">
          {%- include_relative img/events/dds-logo.svg -%}
        </div>
        <div class="bubble bubble__medium">
          {%- include_relative img/events/siggraph-logo.svg -%}
        </div>
        <div class="bubble bubble__small">
          {%- include_relative img/events/uxdx-logo.svg -%}
        </div>
      </div>
    </div>
  </div>
</section>
