<section class="favorite-things" id="favorite-things" aria-label="Favorite Things Section">
  <div class="grid-container">
    <div class="fave-grid">
      <div class="title-cell grid-cell">
        <h2>Favorite <span>Things</span></h2>
      </div>
      <div class="grid-cell item-container uno">
        <div class="image-wrapper">
          <img src="../img/fave-things/dried-strawberries.png" alt="Nuts.com Dried Organic Strawberries">
        </div>
        <div class="description-wrapper">
          <div>
            <h3>Organic Dried Strawberries</h3>
            <p>Sweet and delicious, these dried strawberries make a great snack!</p>
          </div>
        </div>
      </div>
      <div class="grid-cell item-container dos dos-flip">
        <div class="image-wrapper">
          <img src="../img/fave-things/dried-strawberries.png" alt="Nuts.com Dried Organic Strawberries">
        </div>
        <div class="description-wrapper">
          <div>
            <h3>Organic Dried Strawberries</h3>
            <p>Sweet and delicious, these dried strawberries make a great snack!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>