<section class="film-credit" id="film-credit" aria-label="Film Credit Section">
  <div class="grid-container">
    <div class="grid-x cell content-card align-middle align-justify">
      <div class="cell medium-6 poster-area align-center grid-x">
        <div class="poster cell shrink">
          <img src="/img/film-credit/main-poster.jpg" alt="Moana 2 poster with Moana and Maui on the canoe">
        </div>
        <div class="poster poster2 cell shrink">
          <img src="/img/film-credit/poster-big2.jpg" alt="Moana 2 poster with Maui's hook and Moana's oar in the shape of a 2">
          <img class="heihei" src="/img/film-credit/heihei.png" alt="Hei Hei being Hei Hei">
        </div>
        <div class="poster poster3 cell shrink">
          <img class="pua" src="/img/film-credit/pua-slide.png" alt="A scared Pua sliding down">
          <img src="/img/film-credit/poster-sail.jpg" alt="Moana 2 poster with Moana swinging from the sail of her canoe">
        </div>
      </div>
      <div class="cell medium-5 text-area">
        <h2 class="visually-hidden">Moana 2</h2>
        {%- include_relative img/film-credit/moana2-logo.svg -%}
        <p>Thrilled to share I have received my second film credit with Moana 2! If you haven't seen it yet, make sure to check it out and let me know when you spot my name in the credits. And while you're at it, say hi to Pua and Hei Hei for me!</p>
      </div>
    </div>
  </div>
</section>