<section class="film-credit" id="film-credit" aria-label="Film Credit Section">
  <div class="grid-container">
    <div class="grid-x cell content-card align-middle align-center">
      <div class="container" id="fc-container">
        <div class="center-circle"></div>
        <div class="satellite" data-label="X">
          <div class="satellite-content">
            <div class="satellite-label">X</div>
          </div>
        </div>
        <div class="satellite" data-label="Y">
          <div class="satellite-content">
            <div class="satellite-label">Y</div>
          </div>
        </div>
        <div class="satellite" data-label="A">
          <div class="satellite-content">
            <div class="satellite-label">A</div>
          </div>
        </div>
        <div class="satellite" data-label="B">
          <div class="satellite-content">
            <div class="satellite-label">B</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>