<section class="film-credit" id="film-credit" aria-label="Film Credit Section">
  <div class="grid-container">
    <div class="grid-x cell content-card align-middle align-center">
      <div class="container" id="fc-container">
        <div class="center-circle">
          <div class="poster-wrapper">
            <img src="/img/film-credit/secondary-poster.jpg" alt="Zootopia 2 poster" class="secondary">
            <div class="main-wrapper">
              <img src="/img/film-credit/main-poster.jpg" alt="Zootopia 2 poster" class="main">
              <!-- TODO update copy -->
              <p id="credit-description">Proud to announce my third film credit with Zootopia 2! It's been such a joy contributing to another Disney adventure. Catch it on the big screen and see if you can spot my name in the credits!</p>
            </div>
          </div>
        </div>
        <div class="satellite" data-label="X">
          <div class="satellite-content">
            <div class="satellite-label">X</div>
          </div>
        </div>
        <div class="satellite" data-label="Y">
          <div class="satellite-content">
            <div class="satellite-label">Y</div>
          </div>
        </div>
        <div class="satellite" data-label="A">
          <div class="satellite-content">
            <div class="satellite-label">A</div>
          </div>
        </div>
        <div class="satellite" data-label="B">
          <div class="satellite-content">
            <img src="/img/film-credit/zootopia2-logo.png" alt="Zootopia 2 Logo">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>