<footer>
  <div class="grid-container">

    <div class="grid-x align-center">
      <div class="grid-x cell align-justify align-middle pill-area small-8 medium-12">
        <div class="cell medium-shrink closing-remark">
          <h2>Wishing <br> you a fantastic</h2>
        </div>
        <h3>‘25</h3>
        <div class="grid-x cell medium-shrink logo-wrapper align-middle align-center">
          <div class="logo cell shrink">
            <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
              {% capture location %}footer{% endcapture %}
              {% include_relative img/rehan-logo.svg %}
              <span class="visually-hidden">Opens a new window</span>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
