<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KYFHPT2H7W"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KYFHPT2H7W');
</script>

<script src="/js/app.js" type="text/javascript"></script>
<script src="/js/film-credit.js" type="text/javascript"></script>
<script src="/js/skills.js" type="text/javascript"></script>
<script src="/js/website.js" type="text/javascript"></script>
