<header class="year-in-review">
  <div class="grid-container">
    <div class="grid-x cell align-justify title-area">
      <div class="cell shrink subtitle">
        year in review 2024
      </div>
      <div class="logo cell shrink">
        <a target="_blank" rel="noopener" href="{{ site.mainurl }}/">
          {% capture location %}header{% endcapture %}
          {% include_relative img/rehan-logo.svg %}
          <span class="visually-hidden">Opens a new window</span>
        </a>
      </div>
    </div>
  </div>
  <div class="marquee">
    <div class="marquee__content">
      <div>two</div>
      <div class="outline-wrapper">
        <div class="outline">zero</div>
        <div aria-hidden="true" class="overlay">zero</div>
      </div>

      <div>two</div>
      <div class="outline-wrapper">
        <div class="outline">four</div>
        <div aria-hidden="true" class="overlay">four</div>
      </div>
    </div>
    <div aria-hidden="true" class="marquee__content">
      <div>two</div>
      <div>zero</div>
      <div>two</div>
      <div>four</div>
    </div>
  </div>
  <div class="cell grid-x roman-numeral align-center">
    <h1 class="cell shrink">MMXXIV</h1>
  </div>
  <div class="marquee marquee__reserve">
    <div class="marquee__content">
      <div>two</div>
      <div class="outline-wrapper">
        <div class="outline">zero</div>
        <div aria-hidden="true" class="overlay">zero</div>
      </div>

      <div>two</div>
      <div class="outline-wrapper">
        <div class="outline">four</div>
        <div aria-hidden="true" class="overlay">four</div>
      </div>
    </div>
    <div aria-hidden="true" class="marquee__content">
      <div>two</div>
      <div>zero</div>
      <div>two</div>
      <div>four</div>
    </div>
  </div>
</header>
