<section class="speaking" id="speaking" aria-label="Speaking Section">
  <h2 class="visually-hidden">Speaking</h2>
  <div class="grid-container">
    <div class="the-grid">
      <div class="talk-intro">
        <div class="image-wrapper">
          <img src="../img/speaking/me-stage.jpg" alt="">
        </div>
        <h3>And...cut! The design process behind animation tools</h3>
        <p>This talk explores the unconventional and evolving design processes behind the animation tools at Pixar and Walt Disney Animation Studios. Through case studies, we'll showcase how innovative approaches to collaboration and iterative design address the ever-changing needs of artists, ultimately shaping tools that fuel the creation of groundbreaking films. Gain valuable insights and best practices for adopting flexible design processes that empower expert users—who not only rely on these tools but actively contribute to their development.</p>
      </div>
      <div class="config">
        <div class="image-wrapper logo-wrapper">
          {%- include_relative img/speaking/config-logo.svg -%}
        </div>
        <div class="tag-wrapper">
          <div class="tag">@Figma</div>
          <div class="tag">#Config2025</div>
          <div class="tag">#DisneyAnimation</div>
          <div class="tag">#Pixar</div>
        </div>
      </div>
      <div class="figma-logo">
        <div class="image-wrapper logo-wrapper">
          {%- include_relative img/speaking/figma-logo.svg -%}
        </div>
      </div>
      <div class="team-photo">
        <div class="image-wrapper">
          <img src="../img/speaking/pixar-wdas-team.jpg" alt="">
        </div>
      </div>
      <div class="stage-photo">
        <div class="image-wrapper">
          stage photo
        </div>
      </div>
      <div class="thank-you">
        <h3>Thank You</h3>
        <p>To everyone who attended the talk thank you for coming and especially those who came and said hello after the fact sharing your thoughts and what the talk meant to you, I really appreciated hearing your stories!</p>
        <p>And thank you to Figma and the entire Config team that took such great care of us, speakers.</p>
        <div class="image-wrapper">
          Ruchita & I figma sign photo
        </div>
      </div>

    </div>
    <div class="grid-x align-justify config-footer">
      <p class="cell shrink">Looking for a speaker for your next event? Would love to be considered!</p>
      <p class="cell shrink">See you at Config 2026</p>
    </div>
  </div>
</section>