<section class="speaking" id="speaking" aria-label="Speaking Section">
  <h2 class="visually-hidden">Speaking</h2>
  <div class="speaking-config" id="speaking-config">
    <div class="grid-container">
      <div class="the-grid">
        <div class="talk-intro">
          <div class="image-wrapper">
            <img src="../img/speaking/me-stage.jpg" alt="Rehan Butt speaking on stage at Figma's conference Config">
          </div>
          <h3>And...cut! The design process behind animation tools</h3>
          <p>This talk explores the unconventional and evolving design processes behind the animation tools at Pixar and Walt Disney Animation Studios. Through case studies, we'll showcase how innovative approaches to collaboration and iterative design address the ever-changing needs of artists, ultimately shaping tools that fuel the creation of groundbreaking films. Gain valuable insights and best practices for adopting flexible design processes that empower expert users—who not only rely on these tools but actively contribute to their development.</p>
        </div>
        <div class="config">
          <div class="image-wrapper logo-wrapper">
            {%- include_relative img/speaking/config-logo.svg -%}
          </div>
          <div class="tag-wrapper">
            <div class="tag">@Figma</div>
            <div class="tag">#Config2025</div>
            <div class="tag">#DisneyAnimation</div>
            <div class="tag">#Pixar</div>
          </div>
        </div>
        <div class="figma-logo">
          <div class="image-wrapper logo-wrapper">
            {%- include_relative img/speaking/figma-logo.svg -%}
          </div>
        </div>
        <div class="team-photo">
          <div class="image-wrapper">
            <img src="../img/speaking/pixar-wdas-team.jpg" alt="Pixar and Walt Disney Animation Studios design team group photo at Config 2025">
          </div>
        </div>
        <div class="stage-photo">
          <div class="image-wrapper">
            <img src="../img/speaking/bubble-slide.jpg" alt="Standing on stage speaking to all the roles and departments that make a movie come to life!">
          </div>
        </div>
        <div class="thank-you">
          <div class="text-wrapper">
            <h3>Thank You</h3>
            <p>Thanks to everyone who attended the talk. I am especially grateful to those who stayed after to say hello and share your thoughts about what the talk meant to you. I truly appreciated hearing your stories!</p>
            <p>And a big thank you to Figma and the entire Config team for taking such wonderful care of us, speakers.</p>
          </div>
          <div class="image-wrapper">
            <img src="../img/speaking/rr-figma-logo.jpg" alt="Rehan and Ruchita at the Figma logo at Config 2025">
          </div>
        </div>
        <div class="image-wrapper anyone-design">
          <img src="../img/speaking/anyone-design.jpg" alt="Standing on stage speaking to the notion that all of our users design their tools with a slide of 'Anyone can design' on it">
        </div>
        <div class="image-wrapper beauty-beast">
          <img src="../img/speaking/beauty-beast.jpg" alt="Standing on stage speaking to the history of Disney Animation with images of Beauty and the Beast behind us">
        </div>
        <div class="audience-comments">
          <div class="text-wrapper">
            <h3>Audience Reactions</h3>
            <p>“One highlight that truly stuck with me was the <span>powerful</span> talk by Rehan & Ruchita where they unveiled how tech designers play a crucial role behind the scenes. It really hit me how important it is to have designers working in the background to make all those big screens and stories come to life.”</p>
            <p>“Congrats to Rehan & Ruchita for their <span>inspiring</span> talk at Config! Your brief time on stage conveyed all the excitement and the challenge of what you do at Disney and Pixar every day.”</p>
            <p>“Rehan & Ruchita gave us a sneak peek into what it takes to design for designers and the complexity of film animation software. Their <span>empathetic</span> approach to their users, supports & empowers the many ways their users use the tools and allows for an adaptive digital workspace that, truly, all creatives deserve.”</p>
          </div>
        </div>
        <div class="closing">
          <div class="image-wrapper moscone">
            <img src="../img/speaking/moscone.jpg" alt="Exterior of the Moscone Center in San Francisco during Config 2025">
          </div>
          <div class="image-wrapper stage">
            <img src="../img/speaking/stage.jpg" alt="Rehan and Ruchita walking on stage for our talk at Config 2025">
          </div>
          <div class="text-cell">
            <h3>See you at Config 2026!</h3>
          </div>
        </div>
      </div>
      <div class="grid-x align-center config-footer">
        <p class="cell">Looking for a speaker for your next event? Would love to be considered!</p>
        <div class="email-container" onclick="copyToClipboard('me@rehanbutt.com',this)">
          <p>Let's connect via email.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="speaking-siggraph" id="speaking-siggraph">
    <div class="grid-container">
      <div class="the-grid">
        <div class="talk-intro">
          <h3>The design opportunities of moving to Houdini for lighting within the world of Animation</h3>
          <p>Lighting plays a key role in our films. For Walt Disney Animation Studios' "Moana 2", we developed a new Lighting workflow in Houdini, empowering artists with more control while reducing creative barriers. This talk explores how we enable new workflows, mirror successful experiences, and ease the transition with new tools in a legacy system.</p>
          <p>Thank you Siggraph for the opportunity to present and to everyone who joined me afterward for such great conversations!</p>
          <div class="tag-wrapper">
            <div class="tag">@Siggraph</div>
            <div class="tag">#SIGGRAPH2025</div>
            <div class="tag">#DisneyAnimation</div>
          </div>
        </div>
        <div class="image-wrapper logo-wrapper siggraph-logo">
          {%- include_relative img/speaking/siggraph-logo.svg -%}
        </div>
        <div class="image-wrapper sketch-mockup">
          <img src="../img/speaking/siggraph-hero.jpg" alt="An composite of a sketch and mockup of the Houdini lighting tool">
        </div>
        <div class="image-wrapper qa">
          <img src="../img/speaking/qa.jpg" alt="Me on stage taking question from the audience">
        </div>
      </div>
    </div>
  </div>
  <div class="speaking-design-summit" id="speaking-design-summit">
    <div class="grid-container">
      <div class="the-grid">
        <div class="talk-intro">
          <h3>Behind the Frames: Designing Artist-Tailored Animation Tools</h3>
          <p>What does it take to build tools as flexible as the stories they help create? Discover how we design proprietary animation tools at both Pixar and Walt Disney Animation Studios. We'll share our collaborative, artist-tailored approach to crafting adaptable workflow tools - a focus on nimble, practical strategies that both fuel our iconic films and offer our expert users the kind of tools they need to grow and evolve with their work.</p>
        </div>
        <div class="image-wrapper logo-wrapper dds-logo">
          {%- include_relative img/speaking/dds-logo.svg -%}
        </div>
        <div class="image-wrapper logo-wrapper disney-d-logo">
          {%- include_relative img/speaking/disney-d.svg -%}
        </div>
        <div class="tag-wrapper">
          <div class="tag">@Disney</div>
          <div class="tag">#DDS2025</div>
          <div class="tag">#Pixar</div>
          <div class="tag">#DisneyAnimation</div>
        </div>
        <div class="image-wrapper duo-smile">
          <img src="../img/speaking/design-summit-smile.jpg" alt="Rehan and Ruchita on stage with 'Did you say designer?' behind us on screen">
        </div>
        <div class="thank-you">
          <h3>Thank You</h3>
          <p>Thank you to everyone who attended the talk. I especially appreciated the conversations afterward, sharing stories and exchanging thoughts.</p>
          <p>A big shout out to the Design Summit team for hosting such a wonderful event.</p>
          <p>See you all next year!</p>
        </div>
        <div class="image-wrapper dss-bb">
          <img src="../img/speaking/design-summit-bb.jpg" alt="Standing on stage speaking to the history of Disney Animation with images of Beauty and the Beast behind us">
        </div>
        <div class="image-wrapper dss-me">
          <img src="../img/speaking/design-summit-me.jpg" alt="Rehan Butt speaking on stage at Disney's Design Summit">
        </div>
        <div class="image-wrapper dss-team">
          <img src="../img/speaking/design-summit-team.jpg" alt="Walt Disney Animation Studios team group photo at Disney's Design Summit 2025">
        </div>
      </div>
    </div>
  </div>
</section>