<section class="travel" id="travel" aria-label="Travel Section">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="grid-x cell medium-4 small-12 column">
        <div class="boarding-card title-card cell">
          <h2>Travel Log</h2>
        </div>
        {% assign travel_order = site.travel | sort: 'date' %}
        {%- for trip in travel_order limit: 12 -%}
        {%- assign class-travel = {{trip.start-location-short}} | append: "-" | append: {{trip.end-location-short}} | downcase -%}
        <div class="boarding-card cell grid-x align-justify {{class-travel}}">
          <div class="content-area cell grid-x align-middle">
            <div class="departure cell small-5">
              <span>{{trip.start-location-short}}</span>
              <span>{{trip.start-location}}</span>
            </div>
            <div class="cell small-2 icon-wrapper">
              {%- case trip.transit-type -%}
                {%- when "car" -%}
                  {%- include_relative img/travel/car.svg -%}
                {%- when "train" -%}
                  {%- include_relative img/travel/train.svg -%}
                {%- when "plane" -%}
                  {%- include_relative img/travel/plane.svg -%}
              {%- endcase -%}
            </div>
            <div class="arrival cell small-5">
              <span>{{trip.end-location-short}}</span>
              <span>{{trip.end-location}}</span>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>

      <div class="grid-x cell medium-4 small-12 column">
        {%- for trip in travel_order offset: continue limit: 13 -%}
        {%- assign class-travel = {{trip.start-location-short}} | append: "-" | append: {{trip.end-location-short}} | downcase | remove: "*" -%}
        <div class="boarding-card cell grid-x align-justify {{class-travel}}">
          <div class="content-area cell grid-x align-middle">
            <div class="departure cell small-5">
              <span>{{trip.start-location-short}}</span>
              <span>{{trip.start-location}}</span>
            </div>
            <div class="cell small-2 icon-wrapper">
              {%- case trip.transit-type -%}
                {%- when "car" -%}
                  {%- include_relative img/travel/car.svg -%}
                {%- when "train" -%}
                  {%- include_relative img/travel/train.svg -%}
                {%- when "plane" -%}
                  {%- include_relative img/travel/plane.svg -%}
                {%- when "boat" -%}
                  {%- include_relative img/travel/boat.svg -%}
              {%- endcase -%}
            </div>
            <div class="arrival cell small-5">
              <span>{{trip.end-location-short}}</span>
              <span>{{trip.end-location}}</span>
            </div>
          </div>
        </div>
        {%- endfor -%}
      </div>
      
      <div class="grid-x cell medium-4 small-12 column">
        {%- for trip in travel_order offset: continue -%}
        {%- assign class-travel = {{trip.start-location-short}} | append: "-" | append: {{trip.end-location-short}} | downcase | remove: "*" -%}
        <div class="boarding-card cell grid-x align-justify {{class-travel}}">
          <div class="content-area cell grid-x align-middle">
            <div class="departure cell small-5">
              <span>{{trip.start-location-short}}</span>
              <span>{{trip.start-location}}</span>
            </div>
            <div class="cell small-2 icon-wrapper">
              {%- case trip.transit-type -%}
                {%- when "car" -%}
                  {%- include_relative img/travel/car.svg -%}
                {%- when "train" -%}
                  {%- include_relative img/travel/train.svg -%}
                {%- when "plane" -%}
                  {%- include_relative img/travel/plane.svg -%}
                {%- when "boat" -%}
                  {%- include_relative img/travel/boat.svg -%}
              {%- endcase -%}
            </div>
            <div class="arrival cell small-5">
              <span>{{trip.end-location-short}}</span>
              <span>{{trip.end-location}}</span>
            </div>
          </div>
        </div>
        {%- endfor -%}
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>4D 1H</span>
              <span>Flight Time</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>7H</span>
              <span>Lost to Delays</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>44,727mi</span>
              <span>Total Miles Flown</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>1.8x</span>
              <span>Times Around the Globe</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>253mi</span>
              <span>Shortest Flight</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>8294mi</span>
              <span>Longest Flight</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>15</span>
              <span>Airports Visited</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell align-justify grid-y">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>LAX</span>
              <span>Busiest Airport with 10 Flights</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell align-justify grid-y">
          <div class="content-area cell grid-x">
            <div class="stat-label cell auto">
              <span>Boeing 747</span>
              <span>Flew on a 747 for the 1st time in 15+ years</span>
            </div>
          </div>
        </div>
        <div class="boarding-card cell align-justify grid-y flighty-credit">
          <div class="content-area cell grid-x align-middle">
            <div class="stat-label cell auto grid-x">
              <div class="cell grid-x align-justify align-middle">
                <span class="cell shrink card-title">Flighty</span>
                <div class="icon-wrapper cell shrink">
                  <img src="/img/travel/flighty-app-icon.png.webp" alt="Flighty App Icon">
                </div>
              </div>
              <span class="cell subline">Flight Data captured with Flighty</span>
            </div>
          </div>
          {% capture cta-content %}
          <div class="link-cta grid-x cell align-middle align-justify">
            <div class="cell small-10 text-bit">
              *Not actual codes. Explore the airport naming system.
            </div>
            <div class="cell shrink">
              {% include_relative img/events/arrow-right.svg %}
            </div>
          </div>
          {% endcapture %}
          {%- include external-link.html link="https://www.youtube.com/watch?v=jfOUVYQnuhw" content=cta-content css-class="" -%}
        </div>
      </div>
    </div>
  </div>
</section>