<section class="travel" id="travel" aria-label="Travel Section">
  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="medium-4 cell overview travel-card">
        <h2>Travel Log</h2>
      </div>
      <div class="medium-4 cell travel-card">
        <h3>United States</h3>
        <div class="tag-wrapper">
          <!-- TODO figure out sort -->
          {%- assign city-array = "Los Angeles, New York, Washington DC, Philadelphia, San Francisco" | split:',' | sort -%}
          {%- for city in city-array -%}
            <div class="city-tag">{{city}}</div>
          {%- endfor -%}
        </div>
      </div>
      <div class="medium-4 cell">
        <div class="travel-card">
          <h3>Canada</h3>
          <div class="tag-wrapper">
            <div class="city-tag">Vancouver</div>
          </div>
        </div>
        <div class="travel-card">
          <h3>Japan</h3>
          <div class="tag-wrapper">
            <div class="city-tag">Kyoto</div>
            <div class="city-tag">Osaka</div>
            <div class="city-tag">Tokyo</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>