<section class="website" id="website" aria-label="Website Update Section">
  <div class="grid-container">
    <div class="grid-x grid-content">
      <div class="watermark-wrapper grid-y">
        <p class="watermark cell auto">Web</p>
        <p class="watermark cell auto">Web</p>
        <p class="watermark cell auto">Web</p>
      </div>

      <div class="header cell grid-x">
        <div class="content cell grid-x align-justify">
          <div class="cell shrink">
            {%- include external-link.html link="https://rehanbutt.com/" content="rehanbutt.com" css-class="" -%}
          </div>
          <div class="cell shrink">imbe v9</div>
        </div>
      </div>
      <div class="main-content grid-x cell align-justify">
        <div class="cell medium-6">
          <h2>Web Updates</h2>
          <!-- TODO update this copy -->
          <p>TODO copy update; Life finds a way. Forget the fat lady! You're obsessed with the fat lady! Drive us out of here! So you two dig up, dig up dinosaurs? Yeah, but your scientists were so preoccupied with whether or not they could, they didn't stop to think if they should.</p>
          <p>This year site easter eggs were discovered 32 times</p>
          Launched CSS Playground
        </div>
        <!-- TODO figure out why medium-shrink is not working here -->
        <div class="callouts cell grid-x medium-4 align-top">
          <div class="feature-container grid-x align-middle cell">
            <div class="icon cell shrink">
              {%- include_relative img/website/podium.svg -%}
            </div>
            <p class="cell auto">Speaking Section Added</p>
          </div>
          <div class="connector-wrapper grid-x align-center">
            <div class="connector"></div>
          </div>
          <div class="feature-container grid-x align-middle cell">
            <div class="icon cell shrink">
              {%- include_relative img/website/newspaper.svg -%}
            </div>
            <p class="cell auto">Publication Section Added</p>
          </div>
          <div class="connector-wrapper grid-x align-center">
            <div class="connector"></div>
          </div>
          <div class="feature-container grid-x align-middle cell">
            <div class="icon cell shrink">
              {%- include_relative img/website/code-pull-request.svg -%}
            </div>
            <p class="cell auto">CI/CD Formalized</p>
          </div>
        </div>
      </div>
      <div class="footer grid-x cell">
        <div class="stat-card cell">
          <!-- TODO update these stats -->
          <p class="stat-title">19.7K</p>
          <p class="stat-name">Total Site Visits</p>
        </div>
        <div class="stat-card cell">
          <p class="stat-title">March 10th</p>
          <p class="stat-name">Busiest Visit Day</p>
        </div>
        <div class="stat-card cell">
          <p class="stat-title">80%</p>
          <p class="stat-name">Desktop Visits</p>
        </div>
        <div class="stat-card cell">
          <p class="stat-title">20%</p>
          <p class="stat-name">Mobile Visits</p>
        </div>
      </div>
    </div>
  </div>
</section>