<section class="wrap-up" id="wrap-up" aria-label="Wrap Up Section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="post-it-wrapper cell medium-4">
        <div class="post-it">
          <h2>See you 2024</h2>
          <p>Farewell, 2024 — thank you for the memories, lessons, and joy. As we welcome 2025, let's look forward to a year filled with new opportunities, happiness, and endless adventures. May this year bring you success, laughter, and moments to treasure. Here's to embracing the journey ahead. Happy New Year!</p>
        </div>
      </div>
      <div class="polaroid-wrapper pw1 cell medium-4">
        <div class="polaroid">
          <img src="img/lastly/pyramids.jpg" alt="A photo of me in front of the Pyramids of Giza">
          <div class="caption">Visited the Pyramids</div>
          {% include_relative img/lastly/paperclip.svg %}
        </div>
      </div>
      <div class="polaroid-wrapper pw2 cell medium-4">
        <div class="polaroid">
          <img src="img/lastly/mike-sulley-me.jpg" alt="A photo of me Next to Mike and Sulley from Monsters Inc. at the Pixar Campus">
          <div class="caption">1st visit to Pixar HQ!</div>
        </div>
      </div>
    </div>
    <div class="grid-x align-center">
      <div class="share-area cell grid-x align-middle small-10 medium-shrink align-justify">
        <div class="words cell shrink">
          <p class="enjoyed">Enjoyed my year in review?</p>
          <p>Share it with your network.</p>
        </div>
        <div class="icon-wrapper cell grid-x shrink align-self-stretch">
          <div class="link-wrapper cell small-6 align-self-bottom">
            <a rel="noopener" target="_blank" href="https://www.threads.net/intent/post?text=Check%20out%20%40naher94%20awesome%20year%20in%20review!%20{{ site.url }}">
              <div class="share-item">
                {%- include_relative img/lastly/threads.svg -%}
              </div>
              <span class="visually-hidden">Opens a new window</span>
            </a>
            {% include_relative img/lastly/paperclip.svg %}
          </div>
          <div class="link-wrapper cell  small-6 align-self-top">
            <a rel="noopener" target="_blank" href="http://www.linkedin.com/shareArticle?mini=true&url={{site.url}}" target="_blank">
              <div class="share-item">
                {%- include_relative img/lastly/linkedin.svg -%}
              </div>
              <span class="visually-hidden">Opens a new window</span>
            </a>
            {% include_relative img/lastly/paperclip.svg %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
