.berries{
  --raspberry: #C63863;
  --blueberry: #513880;
  --blackberry: #2F2538;
  --strawberry: #ED5151;
  .header{
    margin-block-end: 0.5em;
    .month-name{
      font-weight: $lato-bold;
    }
  }
  .totals{
    margin-block-end: 3em;
  }
  .totals-card{
    border-radius: $tile-radius;
    padding: 1.25em;
    aspect-ratio: 5/3;
    color: $pure-white;
    position: relative;
    p{
      margin-bottom: 0;
      line-height: 1;
    }
    .total-number{
      font-size: 2.25em;
      font-weight: $lato-black;
    }
    &.raspberry{
      background-color: var(--raspberry);
    }
    &.blueberry{
      background-color: var(--blueberry);
      .cutout{
        position: absolute;
        background-color: $pure-white;
        width: 0.5em;
        height: 0.5em;
        bottom: 1.25em;
        right: 1.25em;
      }
    }
    &.blackberry{
      background-color: var(--blackberry);
      .cutout{
        position: absolute;
        background-color: $pure-white;
        border-radius: $pill-radius;
        width: 0.5em;
        height: 0.5em;
        bottom: 1.25em;
        right: 1.25em;
      }
    }
    &.strawberry{
      background-color: var(--strawberry);
      svg{
        position: absolute;
        width: 1.25em;
        height: 1.25em;
        bottom: 1em;
        right: 1em;
      }
    }
  }
  .month-dots{
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    @include breakpoint(small only){
      gap: 0.16em;
    }
    .berry-dot{
      display: inline-block;
      border-radius: $pill-radius;
      aspect-ratio: 1/1;
      width: 1.2em;
      height: 1.2em;
      &.raspberry{
        background-color: var(--raspberry);
      }
      &.blueberry{
        background-color: var(--blueberry);
        display: flex;
        justify-content: center; /* horizontal alignment */
        align-items: center;     /* vertical alignment */
        .cutout{
          // border-radius: 1px;
          background-color: $pure-white;
          width: 0.3em;
          height: 0.3em;
        }
        // svg{
        //   margin-bottom: 2px;
        // }
      }
      &.blackberry{
        background-color: var(--blackberry);
        display: flex;
        justify-content: center; /* horizontal alignment */
        align-items: center;     /* vertical alignment */
        .cutout{
          border-radius: $pill-radius;
          background-color: $pure-white;
          width: 0.35em;
          height: 0.35em;
        }
        // svg{
        //   margin-bottom: 2px;
        // }
      }
      &.strawberry{
        background-color: var(--strawberry);
        display: flex;
        justify-content: center;
        align-items: center; 
        svg{
          // margin-bottom: 2px;
          width: 85%;
        }
      }
    }
  }
  .test-container {
    --gap-x: 2.3em;
    --gap-y: 3em;

    display: flex;
    flex-wrap: wrap;

    column-gap: var(--gap-x);
    row-gap: var(--gap-y);
    @include breakpoint(small only){
      --gap-x: 1em;
    }
  }

  .test-item {
    --column-count: 4;
    --number-of-gaps: calc(var(--column-count) - 1);
    flex: 0 0 calc(
      (100% - (var(--number-of-gaps) * var(--gap-x))) / var(--column-count)
    );
    @include breakpoint(small only){
      --column-count: 2;
    }
  }


}