.berries{
  .header{
    margin-block-end: 0.25em;
    .month-name{
      font-weight: $lato-bold;
    }
  }
  .totals{
    margin-block-end: 2em;
  }
  .totals-card{
    border-radius: $tile-radius;
    background-color: lightblue;
    padding: 1.25em;
    aspect-ratio: 5/3;
    p{
      margin-bottom: 0;
      line-height: 1;
    }
    .total-number{
      font-size: 2.25em;
      font-weight: $lato-black;
    }
  }
  .month-dots{
    display: flex;
    flex-wrap: wrap;
    gap: 0.1em;
    @include breakpoint(small only){
      gap: 0.16em;
    }
    .berry-dot{
      display: inline-block;
      border-radius: $pill-radius;
      aspect-ratio: 1/1;
      width: 1em;
      height: 1em;
      &.raspberry{
        background-color: #C63863;
      }
      &.blueberry{
        background-color: #513880;
      }
      &.blackberry{
        background-color: #2F2538;
      }
      &.strawberry{
        background-color: #ED5151;
      }
    }
  }
  .test-container {
    --gap-x: 2em;
    --gap-y: 2em;

    display: flex;
    flex-wrap: wrap;

    column-gap: var(--gap-x);
    row-gap: var(--gap-y);
    @include breakpoint(small only){
      --gap-x: 1em;
    }
  }

  .test-item {
    --column-count: 4;
    --number-of-gaps: calc(var(--column-count) - 1);
    flex: 0 0 calc(
      (100% - (var(--number-of-gaps) * var(--gap-x))) / var(--column-count)
    );
    @include breakpoint(small only){
      --column-count: 2;
    }
  }


}