.events {
  margin-top: 10rem;
  margin-block-end: 8rem;
  color: $navy-black;
  font-family: $poppins;
  @include breakpoint(small only) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .text-container{
    .header-container{
      display: inline-block;
      background-color: red;
      border-radius: $pill-radius;
      padding: 1em 3em;
    }
    h2{
      font-family: $poppins;
      font-weight: $poppins-extrabold;
      margin-bottom: 0;
      font-size: 4em;
    }
  }
  a {
    &:hover {
      .collection-cta {
        background-color: rgba(#000000, 0.1);
      }
    }

    @include breakpoint(small only) {
      order: 1;
      width: 100%;
    }
  }

  .collection-cta {
    padding-inline: 0.75em;
    padding-block: 0.25em;
    background-color: rgba($pure-black, 0.05);
    border-radius: $tile-radius;
    color: $pure-black;
    font-weight: $lato-bold;
    margin-block-end: 0.5em;
    font-size: 0.8em;
    transition: $sprint;

    @media(prefers-color-scheme:dark) {
      background-color: rgba($pure-white, 0.05);
      color: $pure-white;

      svg {
        fill: $pure-white;
      }
    }

    svg {
      margin-inline-start: 0.25em;
      height: 1.5em;
      display: flex;
    }
  }

}