.events {
  margin-top: 10rem;
  margin-block-end: 8rem;
  color: $navy-black;
  font-family: $poppins;
  @include breakpoint(small only) {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .content-area{
    display: grid;
    grid-template-columns: repeat(6, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(1, 1fr);
    --col-middle: 4;
    height: 40rem;
    .text-container{
      grid-column-start: 2;
      grid-column-end: 6;
      z-index: 2;
      position: relative;
      grid-row: 1/1;
      align-self: center;
    }
    .bubbles-left{
      grid-column-start: col-start;
      grid-column-end: 4;
      grid-row: 1/1;
      position: relative;
      .bubble{
        &__large{
          left: -3rem;
        }
        &__medium{
          right: 5rem;
          top: -10rem;
        }
        &__small{
          bottom: 3rem;
          left: 37%;
        }
      }
    }
    .bubbles-right{
      grid-column-start: 4;
      grid-column-end: 7;
      grid-row: 1/1;
      position: relative;
      .bubble{
        &__large{
          right: -3rem;
          top: 25%;
        }
        &__medium{
          bottom: -4rem;
          left: 15%;
        }
        &__small{
          top: -1rem;
          left: 12rem;
        }
      }
    }
    .bubble{
      border-radius: $pill-radius;
      background-color: aquamarine;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      animation: float 10s ease-in-out infinite;
      box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.25),
                  0px 1px 5px -5px rgba(0, 0, 0, 0.25);
      &__large{
        width: 20rem;
      }
      &__medium{
        width: 14rem;
        animation-delay: 3s;
      }
      &__small{
        width: 10rem;
        animation-delay: 5s;
      }
    }
  }
  .text-container{
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .header-container{
      display: inline-block;
      background-color: rgba($pure-white, 0.25);
      border: solid 5px $pure-white;
      border-radius: $pill-radius;
      backdrop-filter: blur(10px);
      padding: 1em 2.75em;
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
    }
    h2{
      font-family: $poppins;
      font-weight: $poppins-extrabold;
      margin-bottom: 0;
      font-size: 4em;
    }
    .description-container{
      background-color: rgba($pure-white, 0.25);
      border: solid 5px $pure-white;
      border-radius: $pill-radius;
      backdrop-filter: blur(10px);
      padding: 0.5em 1em;
      box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.5);
      width: 30rem;
      margin-block-start: -1.5rem;
      p{
        margin: 0;
        line-height: 1.25;
      }
    }
  }
  a {
    &:hover {
      .collection-cta {
        background-color: rgba(#000000, 0.1);
      }
    }

    @include breakpoint(small only) {
      order: 1;
      width: 100%;
    }
  }

  .collection-cta {
    padding-inline: 0.75em;
    padding-block: 0.25em;
    background-color: rgba($pure-black, 0.05);
    border-radius: $tile-radius;
    color: $pure-black;
    font-weight: $lato-bold;
    margin-block-end: 0.5em;
    font-size: 0.8em;
    transition: $sprint;

    @media(prefers-color-scheme:dark) {
      background-color: rgba($pure-white, 0.05);
      color: $pure-white;

      svg {
        fill: $pure-white;
      }
    }

    svg {
      margin-inline-start: 0.25em;
      height: 1.5em;
      display: flex;
    }
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
      rotate: 0deg;
    }
    50% {
      transform: translateY(-15px);
      rotate: -10deg;
    }
  }
}