.favorite-things{
  margin-block-start: 5em;
  color: $pure-black;
  @include breakpoint(small only){
    // font-size: 0.5em;
  }
  .fave-grid{
    display: grid;
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    gap: 0.25em;
    background-color: #ccc;
    outline: solid 0.25em #ccc;
    .grid-cell{
      background-color: semantic-color(page-bg);
      // If the same element also has the `item-container` class, remove the background
      &.item-container{
        background-color: transparent;
      }
    }
    .title-cell{
      grid-column-start: 4;
      grid-column-end: span 4;
      grid-row-start: 2;
      grid-row-end: span 2;
      aspect-ratio: 2/1;
      overflow: hidden;
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-black;
        text-transform: uppercase;
        font-size: 7.25em;
        line-height: 0.85;
        rotate: -5deg;
        margin-bottom: 0;
        margin-inline-start: -0.05em;
        span{
          letter-spacing: 0.14em;
        }
      }
    }
    .item-container{
      // grid-column-start: 2;
      grid-column-end: span 3;
      // grid-row-start: 1;
      grid-row-end: span 1;
      display: grid;
      grid-template-columns: subgrid;
      &.uno{
        grid-column-start: 2;
        grid-row-start: 1;
      }
      &.dos{
        grid-column-start: 8;
        grid-row-start: 2;
      }
      &.dos-flip{
        .image-wrapper{
          grid-column-start: 3;
          grid-column-end: span 1;
        }
        .description-wrapper{
          grid-column-start: 1;
          grid-column-end: span 2;
          grid-row-start: 1;
        }
      }
      .image-wrapper, .description-wrapper{
        background-color: semantic-color(page-bg);
      }
      .description-wrapper{
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        padding: 0.25em;
        display: flex;
        align-items: center;
        // TODO truncate overflowing text to keep grid cell size
        h3{
          font-size: 1rem;
          font-family: $lato;
          font-weight: $lato-black;
          margin: 0;
        }
        p{
          font-size: 1rem;
          margin: 0;
          line-height: normal;
        }
      }
    }
  }
}