@property --stop {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --stop1 {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.favorite-things{
  margin-block-start: 5em;
  color: $pure-black;
  @include breakpoint(small only){
    // font-size: 0.5em;
  }
  .fave-grid{
    display: grid;
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    gap: 0.25em;
    background-color: #ccc;
    outline: solid 0.25em #ccc;
    .grid-cell{
      background-color: semantic-color(page-bg);
      // If the same element also has the `item-container` class, remove the background
      &.item-container{
        background-color: transparent;
      }
    }

    // TODO make this a mixin?
    .ripple {
      transition: --stop 0.5s, --stop1 1s;
      background: radial-gradient(circle at bottom left,rgba(255, 255, 255, 1) var(--stop1), rgba(33, 105, 222, 1) var(--stop1), rgba(33, 105, 222, 1) var(--stop), rgba(255, 255, 255, 1) var(--stop));
      &:hover {
        --stop: 100%;
        --stop1: 100%;
      }
    }

    .title-cell{
      grid-column-start: 4;
      grid-column-end: span 4;
      grid-row-start: 2;
      grid-row-end: span 2;
      aspect-ratio: 2/1;
      overflow: hidden;
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-black;
        text-transform: uppercase;
        font-size: 7.25em;
        line-height: 0.85;
        rotate: -5deg;
        margin-bottom: 0;
        margin-inline-start: -0.05em;
        span{
          letter-spacing: 0.14em;
        }
      }
    }
    .heart-wrapper{
      grid-column-start: 7;
      grid-column-end: span 4;
      grid-row-start: 3;
      grid-row-end: span 4;
      // aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      svg{
        width: 49rem;
        position: absolute;
        top: -4rem;
        left: -2rem;
        path{
          stroke-width: 8px;
        }
      }
    }
    .item-container{
      grid-column-end: span 3;
      grid-row-end: span 1;
      display: grid;
      grid-template-columns: subgrid;
      .image-wrapper, .description-wrapper{
        background-color: semantic-color(page-bg);
      }
      .description-wrapper{
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        padding: 0.5em;
        display: flex;
        align-items: center;
        div{
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        h3{
          font-size: 1rem;
          font-family: $lato;
          font-weight: $lato-black;
          margin: 0;
        }
        p{
          font-size: 1rem;
          margin: 0;
          line-height: normal;
        }
      }
      @mixin flip{
        .image-wrapper{
          grid-column-start: 3;
          grid-column-end: span 1;
        }
        .description-wrapper{
          grid-column-start: 1;
          grid-column-end: span 2;
          grid-row-start: 1;
        }
      }
      // Add a class for each fave thing      
      &.strawberries{
        grid-column-start: 2;
        grid-row-start: 1;
      }
      &.bic{
        grid-row-start: 5;
        grid-column-start: 8;
        @include flip;
      }
      &.jetlag{
        grid-row-start: 6;
        grid-column-start: 4;
      }
    }
    .seat-filler{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      aspect-ratio: 1/1;
      &__0{
        grid-row-start: 3;
        grid-column-start: 2;
      }
      &__1{
        grid-row-start: 3;
        grid-column-start: 2;
      }
      &__2{
        grid-row-start: 3;
        grid-column-start: 2;
      }
    }
  }
}