@property --stop {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

@property --stop1 {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: false;
}

.favorite-things{
  margin-block-start: 5em;
  color: semantic-color(text);
  @include breakpoint(small only){
    // font-size: 0.5em;
  }
  .fave-grid{
    display: grid;
    grid-template-rows: repeat(6, [row-start] 1fr [row-end]);
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    gap: 0.25em;
    background-color: semantic-color(fave-border);
    outline: solid 0.25em semantic-color(fave-border);
    @include breakpoint(small only){
      grid-template-rows: repeat(8, [row-start] 1fr [row-end]);
      grid-template-columns: repeat(3, [col-start] 1fr [col-end]);
    }
    .grid-cell{
      background-color: semantic-color(page-bg);
      // If the same element also has the `item-container` class, remove the background
      &.item-container{
        background-color: transparent;
      }
    }

    // TODO make this a mixin?
    .ripple {
      transition: --stop 0.5s, --stop1 1s;
      background: radial-gradient(circle at bottom left,rgba(255, 255, 255, 1) var(--stop1), rgba(33, 105, 222, 1) var(--stop1), rgba(33, 105, 222, 1) var(--stop), rgba(255, 255, 255, 1) var(--stop));
      &:hover {
        --stop: 100%;
        --stop1: 100%;
      }
    }

    .title-cell{
      grid-column-start: 4;
      grid-column-end: span 4;
      grid-row-start: 2;
      grid-row-end: span 2;
      aspect-ratio: 2/1;
      overflow: hidden;
      @include breakpoint(small only){
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        aspect-ratio: auto;
      }
      h2{
        font-family: $big-shoulders;
        font-weight: $big-shoulders-black;
        text-transform: uppercase;
        font-size: 7.25em;
        line-height: 0.85;
        rotate: -5deg;
        margin-bottom: 0;
        margin-inline-start: -0.05em;
        @include breakpoint(small only){
          margin-inline-start: -0.1em;
          margin-top: 0.25em;
          font-size: 7.5em;
        }
        span{
          letter-spacing: 0.14em;
        }
      }
    }
    .heart-wrapper{
      grid-column-start: 7;
      grid-column-end: span 4;
      grid-row-start: 3;
      grid-row-end: span 4;
      // aspect-ratio: 1/1;
      overflow: hidden;
      position: relative;
      @include breakpoint(small only){
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        grid-row-end: span 2;
      }
      svg{
        width: 49rem;
        position: absolute;
        top: -4rem;
        left: -2rem;
        @include breakpoint(small only){
          width: 25rem;
          top: 0rem;
          left: -1rem;
        }
        path{
          stroke-width: 8px;
          @include breakpoint(small only){
            stroke-width: 6px;
          }
        }
      }
    }
    .item-container{
      grid-column-end: span 3;
      grid-row-end: span 1;
      display: grid;
      grid-template-columns: subgrid;
      .image-wrapper, .description-wrapper{
        background-color: semantic-color(page-bg);
      }
      // TODO check this
      .image-wrapper{
        aspect-ratio: 1/1;
      }
      .description-wrapper{
        grid-column-start: 2;
        grid-column-end: span 2;
        grid-row-start: 1;
        padding: 0.5em;
        display: flex;
        align-items: center;
        div{
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
        h3{
          font-size: 1rem;
          font-family: $lato;
          font-weight: $lato-black;
          margin: 0;
        }
        p{
          font-size: 1rem;
          margin: 0;
          line-height: normal;
        }
      }
      @mixin flip{
        .image-wrapper{
          grid-column-start: 3;
          grid-column-end: span 1;
        }
        .description-wrapper{
          grid-column-start: 1;
          grid-column-end: span 2;
          grid-row-start: 1;
        }
      }
      // Add a class for each fave thing
      &.airpods{
        grid-row-start: 1;
        grid-column-start: 2;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 3;
        }
      }
      &.jenis{
        grid-row-start: 1;
        grid-column-start: 6;
        @include flip;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 4;
        }
      }
      &.zankou{
        grid-row-start: 5;
        grid-column-start: 8;
        // @include flip;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 7;
        }
      }
      &.stuffmadehere{
        grid-row-start: 3;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 5;
        }
      }
      &.wrexham{
        grid-row-start: 4;
        grid-column-start: 3;
        @include flip;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 6;
        }
      }
      &.z85{
        grid-row-start: 6;
        grid-column-start: 5;
        @include flip;
        @include breakpoint(small only){
          grid-column-start: 1;
          grid-row-start: 8;
        }
      }
      &.vh{
        grid-row-start: 2;
        grid-column-start: 8;
        @include flip;
        @include breakpoint(small only){
          grid-row-start: 5;
          grid-column-start: 1;
        }
      }
    }
    .seat-filler{
      grid-column: 1 / span 1;
      grid-row: 1 / span 1;
      // TODO check this
      // why does this being 1/1 break the grid???
      // aspect-ratio: 1/1;
      @include breakpoint(small only){
        display: none;
      }
      &__0{
        grid-row-start: 1;
        grid-column-start: 1;
      }
      &__1{
        grid-row-start: 1;
        grid-column-start: 5;
      }
      &__2{
        grid-row-start: 1;
        grid-column-start: 9;
      }
      &__3{
        grid-row-start: 1;
        grid-column-start: 10;
      }
      &__4{
        grid-row-start: 6;
        grid-column-start: 8;
      }
      &__5{
        grid-row-start: 6;
        grid-column-start: 9;
      }
      &__6{
        grid-row-start: 6;
        grid-column-start: 10;
      }
      &__7{
        grid-row-start: 2;
        grid-column-start: 1;
      }
      &__8{
        grid-row-start: 2;
        grid-column-start: 2;
      }
      &__9{
        grid-row-start: 2;
        grid-column-start: 3;
      }
      &__10{
        grid-row-start: 3;
        grid-column-start: 8;
      }
      &__11{
        grid-row-start: 3;
        grid-column-start: 9;
      }
      &__12{
        grid-row-start: 3;
        grid-column-start: 10;
      }
      &__13{
        grid-row-start: 4;
        grid-column-start: 1;
      }
      &__14{
        grid-row-start: 4;
        grid-column-start: 2;
      }
      &__15{
        grid-row-start: 4;
        grid-column-start: 6;
      }
      &__16{
        grid-row-start: 4;
        grid-column-start: 7;
      }
      &__17{
        grid-row-start: 4;
        grid-column-start: 8;
      }
      &__18{
        grid-row-start: 4;
        grid-column-start: 9;
      }
      &__19{
        grid-row-start: 4;
        grid-column-start: 9;
      }
      &__20{
        grid-row-start: 4;
        grid-column-start: 10;
      }
      &__21{
        grid-row-start: 5;
        grid-column-start: 1;
      }
      &__22{
        grid-row-start: 5;
        grid-column-start: 2;
      }
      &__23{
        grid-row-start: 5;
        grid-column-start: 3;
      }
      &__24{
        grid-row-start: 5;
        grid-column-start: 4;
      }
      &__25{
        grid-row-start: 5;
        grid-column-start: 5;
      }
      &__26{
        grid-row-start: 5;
        grid-column-start: 6;
      }
      &__27{
        grid-row-start: 5;
        grid-column-start: 7;
      }
      &__28{
        grid-row-start: 6;
        grid-column-start: 1;
      }
      &__29{
        grid-row-start: 6;
        grid-column-start: 2;
      }
    }
  }
}