.film-credit {
  margin-block: 10em;

  @include breakpoint(small only) {
    margin-block-end: 1em;
    margin-block-start: 12em;
  }

  .content-card {
    .container {
      --center-radius: 18rem;
      --buffer: 3rem;
      --start-angle: 130deg;
      --edge-spacing: 2rem;

      position: relative;
      width: calc(var(--center-radius) * 2);
      height: calc(var(--center-radius) * 2);
      margin-inline-start: -10rem;
    }

    .center-circle {
      position: absolute;
      inset: 0;
      border-radius: 50%;
      background: #00bfff;
      align-items: center;
      display: flex;
      img{
        rotate: 6deg;
        scale: 0.75;
        border-radius: $tile-radius-medium;
        overflow: hidden;
        box-shadow: $pure-black $soft-shadow;
        &:first-of-type{
          position: absolute;
          rotate: -4deg;
          scale: 0.6;
          margin-inline-start: -12rem;
        }
      }
    }

    .satellite {
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      transform: translate(-50%, -50%) rotate(var(--angle)) translateY(calc((var(--center-radius) + var(--buffer) + var(--satellite-radius)) * -1));
      transform-origin: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* keep content level */
    .satellite-content {
      transform: rotate(calc(var(--angle) * -1));
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }

    /* Example satellites */
    .satellite[data-label="X"] {
      --satellite-radius: 2.25rem;
      background: #09dd6c;
      width: calc(var(--satellite-radius) * 2);
      height: calc(var(--satellite-radius) * 2);
    }

    .satellite[data-label="Y"] {
      --satellite-radius: 3.5rem;
      background: #f33;
      width: calc(var(--satellite-radius) * 2);
      height: calc(var(--satellite-radius) * 2);
    }

    .satellite[data-label="A"] {
      --satellite-radius: 5rem;
      background: #fa0;
      width: calc(var(--satellite-radius) * 2);
      height: calc(var(--satellite-radius) * 2);
    }

    .satellite[data-label="B"] {
      --satellite-radius: 7rem;
      background: $pure-black;
      width: calc(var(--satellite-radius) * 2);
      height: calc(var(--satellite-radius) * 2);
      .satellite-content{
        padding: 1.5rem;
        padding-bottom: 2.25rem;
      }
    }

  }
}