footer{
  color: semantic-color(footer-text);
  font-family: $fraunces;
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin-top: 5rem;

  .pill-area{
    border-radius: $pill-radius;
    background-image: url("../img/footer/glass-texture.jpg"); // Photo credit: https://unsplash.com/@3tnik
    @media (prefers-color-scheme: dark){
      background-image: url("../img/footer/glass-texture-dark.jpg"); // Photo credit: https://unsplash.com/@3tnik
    }
    background-size: cover;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr;
    @include breakpoint(small only){
      display: flex;
    }
    .closing-remark{
      grid-column: 1 / 7;
      grid-row: 1 / 2;
      h2{
        font-family: $fraunces;
        font-weight: $fraunces-light;
        font-size: 4em;
        line-height: 1;
        margin-left: 0.5em;
        margin-bottom: 0;
        @include breakpoint(small only){
          margin-left: 0;
          margin-block-start: 1em;
          margin-inline: 0.5em;
          font-size: 2.5em;
          text-align: center;
        }
      }
    }
  }
  h3{
    font-family: $fraunces;
    font-weight: $fraunces-black;
    font-size: 22em;
    grid-column: 4 / 9;
    grid-row: 1 / 2;
    margin-bottom: 0;
    line-height: 0.25;
    z-index: 2;
    @include breakpoint(small only){
      line-height: normal;
      font-size: 8em;
      text-align: center;
      margin-top: 0.15em;
      // Pseudo cell styling only on mobile
      flex: 0 0 auto;
      min-height: 0px;
      min-width: 0px;
      width: 100%;
      // End of pseudo cell styling only on mobile
      scale: 1.75;
    }
  }

  .logo-wrapper{
    grid-column: -1 / -3;
    grid-row: 1 / 2;
    justify-self: end;
    aspect-ratio: 1/1;
    border-radius: $pill-radius;
    padding: 3em;
    background-color: rgba($pure-white, 0.1);
    --blur: 10px;
    -webkit-backdrop-filter: blur(var(--blur));
    backdrop-filter: blur(var(--blur));
    @include breakpoint(small only){
      margin-top: -3em;
    }
  }
  .logo{
    #rehan-logo-footer{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill: semantic-color(footer-text); //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 40px;
      }
    }
  }
}