footer{
  color: semantic-color(footer-text);
  padding-bottom: 5rem;
  padding-top: 5rem;
  margin-top: 5rem;
  background-color: #F7F7F7;
  .static-number{
    font-family: $big-shoulders;
    font-weight: $big-shoulders-black;
    aspect-ratio: 2/3;
    font-size: 15em;
    border-radius: $tile-radius-big;
    line-height: 1;
    position: relative;
    .number-top, .number-bottom{
      background-color: #F8F0E3;
      aspect-ratio: 6/6;
      border-radius: $tile-radius-big;
      overflow: hidden;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    }
    .number-bottom{
      margin-block-start: 0.05em;
      .text-fit{
        transform: translate(0, -50%);
      }
    }
    .number-top2{
      position: absolute;
      background-color: orange;
      top: 0;
      transform-style: preserve-3d;
      transform: perspective(900px) rotateX(-180deg);
      width: 270px;
      height: 270px;
      transform-origin: bottom;
      overflow: initial;
      // transform-origin: 50% 102%;
      // transform-origin: 50% (100% + $flip-spacing/2);
      animation: 6s linear 2s infinite alternate clock-flip;
    }
    .face {
      backface-visibility: hidden;
      border-radius: $tile-radius-big;
      // TODO this does not seem to work seems related to overflow hidden WHYYYY      
      &:last-of-type {
        position: absolute;
        top: 0;
        width: 270px;
        height: 270px;
        transform: rotateX(.5turn);
        background: #d14730;
        z-index: 2;
      }
    }

    @keyframes clock-flip {
      from {
        transform: perspective(900px) rotateX(0deg);
      }

      to {
        transform: perspective(900px) rotateX(-180deg);
      }
    }
  }
  .footer-footer{
    font-family: $montserrat;
    font-weight: $montserrat-bold;
    p{
      margin-bottom: 0;
      font-size: 1.25em;
    }
    .logo{
        #rehan-logo-footer{
          height: 30px;
          transition: $sprint;
          &:hover{
            transform: scale(1.1);
          }
          g{
            fill: semantic-color(footer-text); //Changes the color of my logo inline
          }
          @include breakpoint(small only){
            height: 40px;
          }
        }
      }
  }
}