header{
  margin-block-start: 5rem;
  margin-block-end: 5rem;
  .number-container, .content-container, .title-container{
    border-radius: $tile-radius-medium;
    background: radial-gradient(circle at 0% 50%,rgba(239, 213, 255, 1) 0%, rgba(81, 90, 218, 1) 100%);
    padding: 1.5rem;
    color: $pure-white;
  }
  .number-container{
    padding: 0;
    overflow: hidden;
    // width: 19.9rem;
    // TODO this aspect-ratio is not working as expect how to fix
    aspect-ratio: 424/464;
    h1{
      display: none;
    }
    svg{
      width: 100%;
      // height: 100%;
      fill: $pure-white;
      aspect-ratio: 424/464;
    }
  }
  .content-container{
    padding: 0;
    overflow: hidden;
    .description, .section-link{
      padding: 1.5rem;
    }
    a{
      color: $pure-white;
    }
    .section-link{
      font-family: $poppins;
      font-weight: $poppins-bold;
      text-transform: uppercase;
      padding-block: 0.5em;
      border-top: solid 2px semantic-color(page-bg);
      transition: $sprint;
      font-size: 1rem;
      svg{
          fill: $pure-white;
        }
      &:hover{
        background-color: rgba($pure-black, 0.1);
        letter-spacing: 2rem;
      }
      .icon-wrapper{
        height: 1lh;
        svg{
          height: 1lh;
        }
      }
    }
  }
  .title-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    .logo{
      #rehan-logo-header{
        height: 30px;
        transition: $sprint;
        &:hover{
          transform: scale(1.1);
        }
        g{
          fill:$pure-white; //Changes the color of my logo inline
        }
        @include breakpoint(small only){
          height: 22px;
        }
      }
    }
    .subtitle{
      font-family: $poppins;
      font-weight: $poppins-bold;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 1.2;
      width: 6rem;
    }
  }
}