header{

  .logo{
    #rehan-logo-header{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:semantic-color(text); //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}