header{
  padding-block: 3rem;
  font-family: $montserrat;
  font-weight: $big-shoulders-black;
  overflow: hidden;
  @include breakpoint(small only) {
    padding-block: 1rem;
    font-size: 0.5em;
  }
  .title-area{
    z-index: 2;
    color: semantic-color(text);
    margin-block-end: 2em;
  }
  .subtitle{
    text-transform: uppercase;
    font-weight: $big-shoulders-bold;
    font-size: 1.5rem;
    @include breakpoint(small only) {
      font-size: 1rem;
    }
  }

  /* Marquee styles */
  .marquee {
    --gap: 1rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    text-transform: uppercase;
    font-size: 10em;
    letter-spacing: 0.5em;
    line-height: 1;
    opacity: 50%;
    .marquee__content {
      flex-shrink: 0;
      display: flex;
      justify-content: space-around;
      gap: var(--gap);
      min-width: 100%;
      animation: scroll 120s linear infinite;
      @media (prefers-reduced-motion) {
        animation: scroll 240s linear infinite;
      }
      filter: blur(5px);
      .outline-wrapper{
        position: relative;
      }
      .outline{
        -webkit-text-stroke-width: 10px;
        -webkit-text-stroke-color: $navy-black;
      }
      .overlay{
        position: absolute;
        left: 0;
        top: 0;
        color: white;
      }
    }
    &.marquee__reserve{
      .marquee__content{
        animation-direction: reverse;
      }
    }
  }
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }

  .roman-numeral{
    margin-block: -3em;
    z-index: 2;
    position: relative;
    h1{
      // $blur-radius: 30px;
      --blur-radius: 30px;
      --kern-factor: 1em;
      @include breakpoint(small only){
        --kern-factor: 0.5em;
        --blur-radius: 20px;
      }
      transition: all 0.5s ease-in-out;
      padding-left: var(--kern-factor); //Balances out the letter spacing
      letter-spacing: var(--kern-factor);
      font-family: $montserrat;
      font-weight: $big-shoulders-black;
      font-size: 5em;
      margin-bottom: 0;
      text-shadow: -0.35em 0.125em var(--blur-radius) #32C5FF, 0.15em 0.35em var(--blur-radius) #FFE032,  0.3em -0.125em var(--blur-radius) #FF32F7;
      &:hover{
        text-shadow: -0.35em 0.125em var(--blur-radius) #FF32F7, 0.15em 0.35em var(--blur-radius) #32C5FF,  0.3em -0.125em var(--blur-radius) #FFE032;

      }
    }
  }
  .logo{
    #rehan-logo-header{
      height: 30px;
      transition: $sprint;
      &:hover{
        transform: scale(1.1);
      }
      g{
        fill:semantic-color(text); //Changes the color of my logo inline
      }
      @include breakpoint(small only){
        height: 22px;
      }
    }
  }
}