.hero{
  // margin-top: 2rem;
  margin-bottom: 5rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  .hero-text{
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    color: semantic-color(text);
    color: $navy-black-l4;
    color: semantic-color(hero-text);
    font-size: 1.25em;
    line-height: 1.5;
    span{
      color: semantic-color(hero-text-stand-out);
    }
  }
}