.music{
  font-family: $poppins;
  position: relative;
  h1{
    font-family: $poppins;
    font-weight: $poppins-extrabold;
    text-transform: uppercase;
    font-size: 1000%;
  }
  .total-listen{
    background-color: rgba($pure-white, 0.6);
    backdrop-filter: blur(10px);
    padding-inline: 1em;
    padding-block: 0.5em;
    border: 2px solid rgba($pure-black, 0.1);
    border-radius: $pill-radius;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
      display: inline-block;
      padding: 0;
      margin: 0;
      span{
        font-weight: $poppins-extrabold;
      }
    }
  }
  .song-container{
    width: 20%;
    &:nth-of-type(even){
      rotate: -5deg;
      .text-container{
        order: 2;
        margin-block-start: 0.5em;
        margin-block-end: 0;
      }
    }
    .text-container{
      background-color: rgba(#B4B4B4, 0.1);
      padding: 0.5em;
      border-radius: 15px;
      box-shadow: $centered-shadow rgba($pure-black, 0.25);
      margin-block-end: 0.5em;
      h2{
        font-size: 1em;
        font-weight: $poppins-bold;
        margin-bottom: 0;
        margin-inline-end: 0.5em;
      }
      p{
        padding: 0;
        margin: 0;
        font-size: 0.75em;
      }
    }
    .cd-case {
      perspective: 900;
      -webkit-perspective: 900;
      box-shadow: $centered-shadow rgba($pure-black, 0.25),
        inset 0px 0px 20px 2px rgba(0, 0, 0, 0.2),
        inset 0px 0px 5px 1px rgba(255, 255, 255, 0.6),
        inset 0px 0px 0px 1px rgba(255, 255, 255, 0.2);
      padding: 0.5em;
      padding-left: 0em;
      display: flex;
      border-radius: 15px;
      // TODO figure out best way to add background color for each case
      background-color: rgba(70, 29, 157, 0.20);
      &:hover{
        // TODO on hover of the a tag then trigger this.. this CSS will have to move
        .cover{
          transform: rotateY(-40deg);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
        }
      }
      // NOTE .blur-container is only needed due to a Safari bug when you use backdrop-filter / other filters on a parent element, it can break 3D transforms like rotateY() on child elements.
      .blur-container{
        backdrop-filter: blur(10px);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 15px;
      }
    }
    .cover {
      transition: all 0.8s;
      transform-origin: left;
      border-radius: 5px;
      box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      background-color: black;
      width: 100%;
      aspect-ratio: 1/1;
    }
    .spine {
      background: linear-gradient(
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      // box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.1),
      //   inset 0px 0px 7px 0px rgba(0, 0, 0, 0.2),
      //   inset 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
      background-color: rgba(70, 29, 157, 0.20);
      width: 1em;
      height: 70%;
      margin-top: 15%;
      margin-right: 0.5em;
      border-radius: 0 5px 5px 0;
    }
  }
}
