.music{
  font-family: $poppins;
  position: relative;
  h1{
    font-family: $poppins;
    font-weight: $poppins-extrabold;
    text-transform: uppercase;
    font-size: 1000%;
  }
  .total-listen{
    background-color: rgba($pure-white, 0.6);
    padding-inline: 1em;
    padding-block: 0.5em;
    border: 2px solid rgba($pure-black, 0.1);
    border-radius: $pill-radius;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
      display: inline-block;
      padding: 0;
      margin: 0;
      span{
        font-weight: $poppins-extrabold;
      }
    }
  }
  .song-container{
    width: 20%;
    .text-container{
      background-color: rgba(#B4B4B4, 0.1);
      padding: 0.5em;
      border-radius: $tile-radius;
      h2{
        font-size: 1em;
        font-weight: $poppins-bold;
        margin-bottom: 0;
        margin-inline-end: 0.5em;
      }
      p{
        padding: 0;
        margin: 0;
        font-size: 0.75em;
      }
    }
  }
}
