.skills {
  position: relative;
  --skill-height: 3em;
  @include breakpoint(small only) {
    margin-block: 3rem;
    margin-block-start: 5em;
  }

  .stripe-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // TODO update rows to the number of skills
    grid-template-rows: repeat(4, var(--skill-height));
    .stripe {
      grid-column-start: 1;
      grid-column-end: span 1;
      &__0 {
        grid-row: 1 / span 1;
        background-color: red;
      }
      &__1 {
        grid-row: 2 / span 1;
        background-color: blue;
      }
      &__2 {
        grid-row: 3 / span 1;
        background-color: green;
      }
      &__3 {
        grid-row: 4 / span 1;
        background-color: purple;
      }
    }
  }
  .content-area {
    outline: solid black 20px;
    // border: solid black 20px;

    border-radius: $tile-radius-big;
    .skill-tags-container{
      z-index: 2;
      .skill-tag{
        font-size: 2em;
        // height: var(--skill-height);
        .skill{
          display: inline-block;
          border-radius: 0 $tile-radius-medium $tile-radius-medium 0;
          padding-inline: 0.5em;
          &__0 {
            background-color: red;
          }
          &__1 {
            background-color: blue;
          }
          &__2 {
            background-color: green;
          }
          &__3 {
            background-color: purple;
          }
        }
      }
    }
  }
}