.skills {
  position: relative;
  --skill-height: 3em;
  --skill-padding: 0.25em;
  --outline-thickness: 10px;
  font-family: $poppins;
  font-weight: $poppins-bold;
  text-transform: uppercase;
  margin-block: 5rem;
  --row-color-1: #C02929;
  --row-color-2: #5238F0;
  --row-color-3: #47BE16;
  --row-color-4: #E19B23;
  --row-color-5: #23B6E1;
  --accent-color: #E5E5E5;

  @include breakpoint(small only) {
    margin-block: 3rem;
    margin-block-start: 5em;
  }

  .stripe-container {
    // TODO figure out a way to sort the hover state in conflict with the outline
    // z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    // grid-template-columns: repeat(4, 1fr);
    grid-template-columns: 1fr 1170px 1fr;
    // TODO update rows to the number of skills
    grid-template-rows: repeat(5, 1fr);
    // grid-template-rows: repeat(4, calc(2 * var(--skill-padding) + var(--skill-height)));
    margin-block: calc(-1 * var(--outline-thickness));

    .stripe {
      grid-column-start: 1;
      grid-column-end: span 1;
      &__0 {
        grid-row: 1 / span 1;
        background-color: var(--row-color-1);
      }
      &__1 {
        grid-row: 2 / span 1;
        background-color: var(--row-color-2);
      }
      &__2 {
        grid-row: 3 / span 1;
        background-color: var(--row-color-3);
      }
      &__3 {
        grid-row: 4 / span 1;
        background-color: var(--row-color-4);
      }
      &__4 {
        grid-row: 5 / span 1;
        background-color: var(--row-color-5);
      }
    }
  }
  .content-area {
    // outline: solid $navy-black var(--outline-thickness);
    outline: solid var(--accent-color) var(--outline-thickness);
    border-radius: $tile-radius-big;
    // TODO update to dynamically create
    border-radius: 56px;
    .skill-tags-container{
      position: relative; // create a stacking context for child z-index values
      z-index: 2;
      margin-block: calc(-1 * var(--outline-thickness));
      .skill-tag{
        // position: relative; // so z-index on modifiers (e.g. &__2) takes effect
        font-size: 3em;
        line-height: 1;
        // height: var(--skill-height);
        // &__2{
        //   // TODO figure out how to make this work
        //   z-index: 3;
        // }
        // &__3{
        //   z-index: 2;
        // }
        &:first-of-type, &:last-of-type{
          .image-wrapper{
            outline: solid semantic-color(page-bg) var(--outline-thickness);
            // TODO update to relative units
            box-shadow: -0.8em -0.25em 0 0 semantic-color(page-bg);
            // box-shadow: -40px 0px 0px 0px rgb(255, 128, 0);
          }
        }
        &:last-of-type{
          .image-wrapper{
            box-shadow: -0.8em 0.25em 0 0 semantic-color(page-bg);
          }
        }
        .skill-wrapper{
          display: inline-block;
          position: relative;
          // cursor: pointer;
          // color: $pure-white;
          // &:hover{
          //   // TODO sequentially animate each item? and if I hover on one of them then pause the animation
          //   .skill{
          //     transform: translateX(calc(calc(1.25em + var(--skill-padding))* -1));
          //   }
          // }
          .image-wrapper{
            display: flex;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: $pill-radius;
            overflow: hidden;
          }
        }
        .skill{
          display: inline-block;
          border-radius: 0 $pill-radius $pill-radius 0;
          padding-inline: 0.5em;
          padding-block: var(--skill-padding);
          transition: $sprint;
          z-index: 2;
          position: relative;
          &__0 {
            background-color: var(--row-color-1);
          }
          &__1 {
            background-color: var(--row-color-2);
          }
          &__2 {
            background-color: var(--row-color-3);
          }
          &__3 {
            background-color: var(--row-color-4);
          }
          &__4{
            background-color: var(--row-color-5);
          }
        }
      }
    }
    .hero-text-container{
      padding: 1rem;
      z-index: 2;
      position: relative;
      .hero-text{
        h2{
          font-family: $poppins;
          font-weight: $poppins-extrabold;
          span{
            display: block;
            line-height: 1;
            &:first-of-type{
              font-size: 0.7em;
            }
            &:nth-of-type(3){
              line-height: .8;
              font-size: 2.5em;
            }
          }
        }
        p{
          line-height: 1.2;
          font-weight: $poppins-regular;
          text-transform: none;
          margin-bottom: 0;
        }
      }
      .icon-wrapper{
        aspect-ratio: 1/1;
        background-color: var(--accent-color);
        position: absolute;
        width: 5rem;
        top: 1rem;
        right: 1rem;
        border-radius: $pill-radius;
        align-items: center;
        display: flex;
        justify-content: center;
        font-size: 2.5em;
        line-height: normal;
        transition: $run;
        cursor: pointer;
        &:hover{
          rotate: 180deg;
        }
      }
    }
  }
}