.speaking{
  background: linear-gradient(to bottom right, #1D2127, #373C43);
  color: white;
  font-family: $space-grotesk;
  padding-block: 5em;
  .the-grid{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(32, [row-start] 1fr [row-end]);
    gap: 1em;
    --col-middle: 7;
    --photo-radius: 30px;
    --image-wrapper-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
    .image-wrapper{
      aspect-ratio: 1/1;
      background-color: crimson;
      border-radius: var(--photo-radius);
      box-shadow: var(--image-wrapper-shadow);
    }
    .talk-intro{
      grid-column-start: col-start;
      grid-column-end: var(--col-middle);
      grid-row-start: row-start;
      grid-row-end: span 10;
      font-family: $space-grotesk;
      h3{
        font-family: $space-grotesk;
        font-weight: $space-grotesk-bold;
        text-wrap: pretty;
        margin-block-start: 0.5em;
        font-size: 2em;
      }
      p{
        font-size: 1rem;
      }
    }
    .config{
      grid-column-start: var(--col-middle);
      grid-column-end: span 3;
      grid-row-start: row-start;
      grid-row-end: span 4;
      .image-wrapper{
        // TODO fix this gradient its not looking great
        background:
          radial-gradient(circle at 75% 0, rgba(#874FFF, 1) 0%, rgba(#874FFF, 0) 100%),
          radial-gradient(circle at 100% 60%, rgba(#FF7237, 1) 0%, rgba(#FF7237, 0) 100%),
          radial-gradient(circle at 10% 90%, rgba(#24CB71, 1) 0%, rgba(#24CB71, 0) 100%),
          #00B6FF;

      }
      .logo-wrapper{
        padding: 1em;
        display: flex;
        justify-content: center; // centers horizontally
        align-items: center;     // centers vertically
      }
      .tag-wrapper{
        margin-block-start: 0.5rem;
        .tag{
          display: inline-block;
          background-color: rgba($pure-white, 0.2);
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          font-weight: $space-grotesk-bold;
          font-size: 1rem;
          margin-block: 0.25rem;
        }
      }
    }
    .figma-logo{
      grid-column-start: 10;
      grid-column-end: span 2;
      grid-row-start: 3;
      grid-row-end: span 2;
      .logo-wrapper{
        padding: 1em;
        display: flex;
        justify-content: center; // centers horizontally
        align-items: center;     // centers vertically
        background-color: $pure-black;
      }
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}