.speaking{
  background: linear-gradient(to bottom right, #1D2127, #373C43);
  color: white;
  font-family: $space-grotesk;
  .the-grid{
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr [col-end]);
    grid-template-rows: repeat(32, [row-start] 1fr [row-end]);
    gap: 1em;
    --col-middle: 7;
    --photo-radius: 30px;
    .photo-wrapper{
      aspect-ratio: 1/1;
      background-color: crimson;
      border-radius: var(--photo-radius);
    }
    .talk-intro{
      grid-column-start: col-start;
      grid-column-end: var(--col-middle);
    }
    .config{
      grid-column-start: var(--col-middle);
      grid-column-end: calc(var(--col-middle) + 3);
      .tag-wrapper{
        margin-block-start: 0.5rem;
        .tag{
          display: inline-block;
          background-color: rgba($pure-white, 0.2);
          padding: 0.25em 0.5em;
          border-radius: 0.5em;
          font-weight: $space-grotesk-bold;
          font-size: 1rem;
          margin-block: 0.25rem;
        }
      }
    }
    p{
      margin: 0;
      padding: 0;
    }
  }
}