.travel{
  --mobile-overlap: -10em;
  margin-top: 2rem;
  margin-bottom: 10rem;
  @include breakpoint(small only) {
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
  font-family: $poppins;
  font-weight: $poppins-regular;
  h2, h3{
    font-family: $poppins;
    font-weight: $poppins-bold;
    font-size: 2em;
    color: $pure-white;
  }
  .travel-card{
    background-color: rebeccapurple;
    border-radius: $tile-radius-medium;
    padding: 1rem;
    box-shadow: 0px 2px 12px -6px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    &.canada-card{
      background-color: #E02020;
      background-color: color-mix(in srgb, #E02020 90%, $pure-white 10%);
      background-image: url('/img/travel/van-skyline.jpg');
      background-blend-mode: multiply;
      // background-color: color-mix(in srgb, #E02020 45%, #ffffff 5%);
      // background-blend-mode: color-burn;
    }
    &.japan-card{
      // TODO update this image
      background-color: rgb(162, 99, 224);
      background-image: url('/img/travel/fuji-cap.jpg');
      background-blend-mode: multiply;
    }
    a{
      font-size: 1rem;
      &:hover{
        .tag{
          background-color: rgba($pure-black, 0.25);
        }
      }
      .tag{
        display: inline-block;
        background-color: rgba($pure-black, 0.5);
        backdrop-filter: blur(10px);
        border-radius: $tile-radius;
        padding: 0.25em 0.5em;
        color: $pure-white;
        transition: $sprint;
        svg{
          width: 12px;
          height: 12px;
          &:first-of-type{
            margin-inline-end: 0.15rem;
          }
          &:last-of-type{
            margin-inline-start: 0.15rem;
          }
          path{
            fill: $pure-white;
          }
        }
      }
    }
  }
  .overview{
    background-color: #1E1E1E;
    padding-inline: 0.9375rem;
    padding-block: calc(0.9375rem * 2);
    border-radius: 50px;
  }
  .stat-wrapper{
    min-height: 30rem;
    @include breakpoint(small only) {
      min-height: initial;
    }
  }
  .stats{
    .line-item{
      color: $pure-white;
      border-bottom: 1px solid rgba($pure-white, 0.25);
      padding-block: 0.25rem;
      .value{
        font-weight: $poppins-bold;
      }
      .label{
        color: rgba($pure-white, 0.5);
      }
    }
  }
  .tag-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    .city-tag{
      display: inline-block;
      padding: 0.25em 0.5em;
      background-color: rgba($pure-white, 0.25);
      backdrop-filter: blur(10px);
      border-radius: $tile-radius;
      font-size: 1rem;
      color: $pure-white;
    }
  }
}