.travel{
  --mobile-overlap: -10em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  @include breakpoint(small only) {
    margin-top: 1rem;
  }
  font-family: $poppins;
  font-weight: $poppins-regular;
  h2, h3{
    font-family: $poppins;
    font-weight: $poppins-bold;
    font-size: 2em;
  }
  .travel-card{
    background-color: rebeccapurple;
    border-radius: $tile-radius-medium;
    padding: 1rem;
  }
  .overview{
    background-color: black;
  }
  .tag-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 0.25em;
    .city-tag{
      display: inline-block;
      padding: 0.25em 0.5em;
      background: red;
      border-radius: $tile-radius;
      font-size: 1rem;
    }
  }
}