//******* Variables

// Numbers
$color-percentage: 5%;
$tile-radius: 10px;
$tile-radius-medium: 20px;
$tile-radius-big: 30px;
$pill-radius: 500px;
$recessed-shadow: 0px 10px 33px -10px;
$centered-shadow:  0px 0px 20px 0px;
$soft-shadow: 0px 0px 50px -20px;
$base-font-size: 20px;

// Colors
$pure-white: #ffffff;
$pure-black: #000000;

////Brand Colors
$twitter-blue: #1DA1F2;
$linkedin-blue: #2867B2;
$pinterest-red: #e60023;
$dribbble-pink: #ea4c89;
$instagram-purple: #C13584;
$github-purple: #6f42c1;
$F500px-green: #34bf49;

$flowstate-pink: #D12E6A;
$flowstate-light-pink: #F6DBE6;

$signature-teal: #12abc4;
$navy-black: #1f2937;
//// [number indicates number of step removed from main]

////Signature Teal
////// Dark Set
$signature-teal-d1: mix($pure-black, $signature-teal, 10%);
$signature-teal-d2: mix($pure-black, $signature-teal, 20%);
$signature-teal-d3: mix($pure-black, $signature-teal, 30%);
$signature-teal-d4: mix($pure-black, $signature-teal, 40%);
$signature-teal-d5: mix($pure-black, $signature-teal, 50%);
$signature-teal-d6: mix($pure-black, $signature-teal, 60%);
$signature-teal-d7: mix($pure-black, $signature-teal, 70%);
$signature-teal-d8: mix($pure-black, $signature-teal, 80%);
$signature-teal-d9: mix($pure-black, $signature-teal, 90%);

////// Light Set
$signature-teal-l1: mix($pure-white, $signature-teal, 10%);
$signature-teal-l2: mix($pure-white, $signature-teal, 20%);
$signature-teal-l3: mix($pure-white, $signature-teal, 30%);
$signature-teal-l4: mix($pure-white, $signature-teal, 40%);
$signature-teal-l5: mix($pure-white, $signature-teal, 50%);
$signature-teal-l6: mix($pure-white, $signature-teal, 60%);
$signature-teal-l7: mix($pure-white, $signature-teal, 70%);
$signature-teal-l8: mix($pure-white, $signature-teal, 80%);
$signature-teal-l9: mix($pure-white, $signature-teal, 90%);


//// Dark Set
$navy-black-d1: mix($pure-black, $navy-black, 10%);
$navy-black-d2: mix($pure-black, $navy-black, 20%);
$navy-black-d3: mix($pure-black, $navy-black, 30%);
$navy-black-d4: mix($pure-black, $navy-black, 40%);
$navy-black-d5: mix($pure-black, $navy-black, 50%);
$navy-black-d6: mix($pure-black, $navy-black, 60%);
$navy-black-d7: mix($pure-black, $navy-black, 70%);
$navy-black-d8: mix($pure-black, $navy-black, 80%);
$navy-black-d9: mix($pure-black, $navy-black, 90%);

//// Light Set
$navy-black-l1: mix($pure-white, $navy-black, 10%);
$navy-black-l2: mix($pure-white, $navy-black, 20%);
$navy-black-l3: mix($pure-white, $navy-black, 30%);
$navy-black-l4: mix($pure-white, $navy-black, 40%);
$navy-black-l5: mix($pure-white, $navy-black, 50%);
$navy-black-l6: mix($pure-white, $navy-black, 60%);
$navy-black-l7: mix($pure-white, $navy-black, 70%);
$navy-black-l8: mix($pure-white, $navy-black, 80%);
$navy-black-l9: mix($pure-white, $navy-black, 90%);


//Semantic colors maps the color palette above to their use across the application
//// This method allows for several flavors of a color to be added such as a dark mode or a high contrast for example
$semantic-colors:(
  light:(
    selection-background: $signature-teal-l6,
    page-bg: $pure-white,
    text: $navy-black,
    text-inverted: $pure-white,
    events-bg: #F1F1F1,
    events-h2: $navy-black,
    film-log-h2: #313131,
    music-text-bg: rgba($pure-white, 0.5),
    music-total-bg: rgba($pure-white, 0.6),
    music-total-border: rgba($pure-black, 0.1),
    fave-border: #ccc,
    skills-accent: #e5e5e5,
    wrap-up-card-bg: $pure-white,
  ),
  dark:(
    selection-background: $signature-teal-d3,
    page-bg: $navy-black-d3,
    text: $pure-white,
    text-inverted: $navy-black,
    events-bg: $navy-black,
    events-h2: $pure-white,
    film-log-h2: $pure-white,
    music-text-bg: rgba($pure-white, 0.15),
    music-total-bg: rgba($navy-black, 0.6),
    music-total-border: rgba($pure-white, 0.2),
    fave-border: $navy-black-d9,
    skills-accent: $navy-black-l2,
    wrap-up-card-bg: $navy-black,
  ),
);

//Helper function to build CSS colors
@function compose-color($color-key) {
  @return '--color-#{$color-key}';
}

//Function to be called inline for color mapping
@function semantic-color($color-key) {
  @return (var(--color-#{$color-key}));
}

:root{
  @each $key, $value in map-get($semantic-colors, 'light') {
    #{compose-color($key)}: #{$value};
  }
  @media (prefers-color-scheme: dark) {
    @each $key, $value in map-get($semantic-colors, 'dark') {
      #{compose-color($key)}: #{$value};
    }
  }
}

@function toRem($value) {
  $remValue: ($value / $base-font-size) * 1rem; 
  @return $remValue;
}

@function toEm($value) {
  $remValue: ($value / $base-font-size) * 1em; 
  @return $remValue;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }
  @return $number;
}

// Animations
$sprint: all 0.20s ease-in-out;
$run: all 0.30s ease-in-out;
$jog: all 0.50s ease-in-out;

@mixin color-shadows {
  transition: $jog;
  &:hover{
    text-shadow: 
      0 0.125em 0 #3599DC36, 
      0 0.25em 0 #3599DC36, 
      0 -0.125em 0 #E84C3C36, 
      0 -0.25em 0 #F2C50F36;
  }
}

@keyframes squish{
  0%{
    transform: scale(1) rotate(-10deg);
  }
  35%{
    transform: scalex(0.90) rotate(-10deg);
  }
  80%{
    transform: scalex(1.20) rotate(2deg);
  }
  100%{
    transform: scale(1) rotate(-10deg);
  }
}

@keyframes click-click{
  0%{
    transform: scale(1) rotate(10deg);
  }
  25%{
    transform: scale(0.95) rotate(10deg);
    background-color: #58088a;
  }
  50%{
    transform: scale(1.05) rotate(10deg);
  }
  100%{
    transform: scale(1) rotate(10deg);
  }
}

@keyframes boing{
  15%{
    transform-origin: center center;
    transform:scale(1.4, 1.2)
  }

  40%{
    transform-origin: center center;
    transform:scale(0.9, 0.9)
  }

  75%{
    transform-origin: center center;
    transform:scale(1.08, 1)
  }

  100%{
    transform-origin: center center;
    transform:scale(1, 1)
  }
}

@keyframes wave-animation {
  0% { transform: rotate(  0.0deg) }
 10% { transform: rotate(-10.0deg) }/* The following four values can be played with to make the waving more or less extreme */
 20% { transform: rotate( 12.0deg) }
 30% { transform: rotate(-10.0deg) }
 40% { transform: rotate(  9.0deg) }
 50% { transform: rotate(  0.0deg) }/* Reset for the last half to pause */
100% { transform: rotate(  0.0deg) }
}

// Typography
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
$zilla: 'Zilla Slab', serif;
$zilla-light: 300;
$zilla-regular: 400;
$zilla-medium: 500;
$zilla-semi-bold: 600;
$zilla-bold: 700;

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900i,900&display=swap');
$lato: 'Lato', sans-serif;
$lato-thin: 100;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
$merriweather: "Merriweather", serif;
$merriweather-light: 300;
$merriweather-regular: 400;
$merriweather-bold: 700;
$merriweather-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
$big-shoulders: 'Big Shoulders Display', cursive;
$big-shoulders-thin: 100;
$big-shoulders-extralight: 200;
$big-shoulders-light: 300;
$big-shoulders-regular: 400;
$big-shoulders-medium: 500;
$big-shoulders-semibold: 600;
$big-shoulders-bold: 700;
$big-shoulders-extrabold: 800;
$big-shoulders-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
$fraunces: "Fraunces", serif;
$fraunces-thin: 100;
$fraunces-extralight: 200; 
$fraunces-light: 300;
$fraunces-regular: 400;
$fraunces-medium: 500;
$fraunces-semibold: 600;
$fraunces-bold: 700;
$fraunces-extrabold: 800;
$fraunces-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$montserrat: "Montserrat", sans-serif;
$montserrat-thin: 100;
$montserrat-extralight: 200; 
$montserrat-light: 300;
$montserrat-regular: 400;
$montserrat-medium: 500;
$montserrat-semibold: 600;
$montserrat-bold: 700;
$montserrat-extrabold: 800;
$montserrat-black: 900;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$poppins: "Poppins", sans-serif;
$poppins-thin: 100;
$poppins-extralight: 200; 
$poppins-light: 300;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semibold: 600;
$poppins-bold: 700;
$poppins-extrabold: 800;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
$caveat: "Caveat", cursive;
$caveat-regular: 400;
$caveat-medium: 500;
$caveat-semibold: 600;
$caveat-bold: 700;

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
$space-grotesk: "Space Grotesk", sans-serif;
$space-grotesk-light: 300;
$space-grotesk-regular: 400;
$space-grotesk-medium: 500;
$space-grotesk-semibold: 600;
$space-grotesk-bold: 700;