$surface-border: solid 1px rgba($pure-black, 0.1);
$surface-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
@mixin frosted-surface{
  background-color: rgba($pure-white, 0.7);
  border: $surface-border;
  box-shadow: $surface-shadow;
}
$content-padding: 2rem;
$web-orange: #FF8D3D;
.website{
  background: linear-gradient(180deg,rgba($web-orange, 0.4) 0%, rgba($web-orange, 0.1) 100%);
  margin-top: 2rem;
  overflow-x: hidden;
  font-family: $space-grotesk;
  @include breakpoint(small only){
    overflow-x: clip;
    overflow-y: visible;
  }
  p{
    padding: 0;
    margin: 0;
  }
  h2{
    font-family: $space-grotesk;
    font-weight: $space-grotesk-bold;
  }
  .grid-content{
    position: relative;
  }
  .watermark-wrapper{
    position: absolute;
    height: 100%;
    overflow: hidden;
    margin-left: -14%;
    .watermark{
      font-size: 25rem;
      font-weight: $space-grotesk-bold;
      color: rgba($web-orange, 0.07);
      // color: red;
      filter: blur(2px);
      line-height: 1;
      margin-top: -7%;
    }
  }
  .header, .main-content, .footer{
    z-index: 2;
  }
  .header{
    @include frosted-surface;
    padding: $content-padding;
    margin-top: -1px;
    border-radius: 0 0 calc($tile-radius + $content-padding) calc($tile-radius + $content-padding);
    .content{
      @include frosted-surface;
      padding: 0.5rem 1rem;
      border-radius: $tile-radius;
      a{
        color: inherit;
      }
    }
  }
  .main-content{
    padding-inline: $content-padding;
    padding-block: calc($content-padding * 2);
    .callouts{
      $icon-padding: 0.75rem;
      $icon-size: 2rem;
      .feature-container{
        font-weight: $space-grotesk-bold;
        .icon{
          aspect-ratio: 1/1;
          padding: $icon-padding;
          background-color: $web-orange;
          border-radius: $pill-radius;
          margin-inline-end: 1rem;
          border: $surface-border;
          box-shadow: $surface-shadow;
          svg{
            width: $icon-size;
          }
        }
      }
      .connector-wrapper{
        width: calc($icon-size + $icon-padding + $icon-padding);
      }
      .connector{
        width: 3px;
        height: 3rem;
        background-color: $pure-black;
        border-radius: $pill-radius;
        margin-block: 0.5rem;
      }
    }
  }
  .footer{
    @include frosted-surface;
    padding: $content-padding;
    border-radius: calc($tile-radius + $content-padding) calc($tile-radius + $content-padding) 0 0;
    .stat-card{
      @include frosted-surface;
      padding: 0.5rem 1rem;
      border-radius: $tile-radius;
    }
  }
}