$surface-border: solid 1px rgba($pure-black, 0.1);
$surface-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
@mixin frosted-surface{
  background-color: rgba($pure-white, 0.7);
  border: $surface-border;
  box-shadow: $surface-shadow;
  @media (prefers-color-scheme: dark) {
    background-color: rgba($pure-black, 0.5);
  }
}
$web-orange: #FF8D3D;
.website{
  --content-padding: 2rem;
  --color-link: #{$navy-black};
  background: linear-gradient(180deg,rgba($web-orange, 0.4) 0%, rgba($web-orange, 0.1) 100%);
  margin-top: 2rem;
  // TODO this overflow-x is not working
  // overflow-x: hidden; //To handle the negative margin on the footer
  font-family: $space-grotesk;
  @media (prefers-color-scheme: dark) {
    --color-link: #{$pure-white};
  }
  @include breakpoint(small only){
    // TODO this overflow-x is not working
    // overflow-x: clip;
    overflow-y: visible;
    --content-padding: 1rem;
  }
  p{
    padding: 0;
    margin: 0;
  }
  h2{
    font-family: $space-grotesk;
    font-weight: $space-grotesk-bold;
  }
  .grid-content{
    position: relative;
  }
  .watermark-wrapper{
    position: absolute;
    height: 100%;
    overflow: hidden;
    margin-left: -14%;
    .watermark{
      font-size: 25rem;
      font-weight: $space-grotesk-bold;
      color: rgba($web-orange, 0.07);
      // color: red;
      filter: blur(2px);
      line-height: 1;
      margin-top: -7%;
    }
  }
  .header, .main-content, .footer{
    z-index: 2;
  }
  .header{
    @include frosted-surface;
    padding: var(--content-padding);
    margin-top: -1px;
    border-radius: 0 0 calc($tile-radius + var(--content-padding)) calc($tile-radius + var(--content-padding));
    .content{
      @include frosted-surface;
      padding: 0.5rem 1rem;
      border-radius: $tile-radius;
      a{
        color: inherit;
      }
    }
  }
  .main-content{
    padding-inline: var(--content-padding);
    padding-block: calc(var(--content-padding) * 2);
    .description{
      font-size: 1.125rem;
      text-wrap: pretty;
      &:last-of-type{
        margin-block-start: 1em;
      }
      a{
        &:hover{
          color: $navy-black;
        }
      }
    }
    .callouts{
      $icon-padding: 0.75rem;
      $icon-size: 2rem;
      @include breakpoint(small only){
        margin-block-start: 2rem;
      }
      .feature-container{
        font-weight: $space-grotesk-bold;
        .icon{
          aspect-ratio: 1/1;
          padding: $icon-padding;
          background-color: $web-orange;
          border-radius: $pill-radius;
          margin-inline-end: 1rem;
          border: $surface-border;
          box-shadow: $surface-shadow;
          svg{
            width: $icon-size;
            fill: $navy-black;
          }
        }
      }
      .connector-wrapper{
        width: calc($icon-size + $icon-padding + $icon-padding);
      }
      .connector{
        width: 3px;
        height: 3rem;
        background-color: $pure-black;
        border-radius: $pill-radius;
        margin-block: 0.5rem;
        @include breakpoint(small only){
          height: 2rem;
        }
      }
    }
  }
  .footer{
    @include frosted-surface;
    padding: var(--content-padding);
    margin-bottom: -1px;
    border-radius: calc($tile-radius + var(--content-padding)) calc($tile-radius + var(--content-padding)) 0 0;
    --card-gap: 1em;
    gap: var(--card-gap);
    @include breakpoint(small only){
      --card-gap: 0.5em;
    }
    details{
      padding-inline: 0.75em 0.5em;
      &[open]{
        summary::after {
          transform: rotate(180deg);
        }
      }
    }
    .stat-card{
      @include frosted-surface;
      border-radius: $tile-radius;
      //Number of cards per row = --numb-cards
      --numb-cards: 4;
      //The sum of the gaps between all items in the row (--numb-cards)
      --gap-total: calc((var(--numb-cards) - 1) * var(--card-gap));
      width: calc((100% - var(--gap-total)) / var(--numb-cards));
      .stat-header{
        display: inline-block;
      }
      summary, .detail-body{
        padding-block: 1em;
      }
      p{
        line-height: normal;
      }
      .stat-title{
        font-size: 1.5em;
        font-weight: $space-grotesk-bold;
      }
      @include breakpoint(small only){
        --numb-cards: 1;
      }
      summary {
        list-style: none;
        display: inline-flex;
        align-items: center;
        cursor: pointer;
        &:after {
          content: "";
          width: 1.5em;
          height: 1.5em;
          margin-left: 0.25em;
          display: inline-block;
          background: url('../img/website/chevron-up.svg') no-repeat center;
          @media (prefers-color-scheme: dark){
            background: url('../img/website/chevron-up-light.svg') no-repeat center;
          }
        }
      }
      .detail-body{
        --border: 1px solid #{$navy-black-l8};
        margin-inline-end: 0.25em;
        border-top: var(--border);
        font-size: 0.8em;
        @media (prefers-color-scheme: dark){
          --border: 1px solid #ffffff31;
        }
        .data-section{
          &:not(:last-of-type){
            border-bottom: var(--border);
            padding-bottom: 1em;
            margin-bottom: 1em;
          }
        }
        .data-value{
          font-weight: $space-grotesk-bold;
          font-size: 1.125em;
        }
        .pv-country{
          margin-block-end: 0.75em;
          font-weight: $space-grotesk-bold;
        }
        .visit-number{
          font-weight: $space-grotesk-bold;
        }
        .country-item{
          margin-block-end: 0.25em;
        }
        .referrer-item{
          margin-block-end: 0.5em;
        }
        a{
          display: block;
          color: inherit;
          &.link-item{
            border-radius: 1px;
            &:not(:last-of-type){
              margin-block-end: 0.5em;
            }
            &:hover{
              --hover-color: #{$navy-black-l9};
              background-color: var(--hover-color);
              outline: 5px solid var(--hover-color);
              @media (prefers-color-scheme: dark) {
                --hover-color: #ffffff17;
              }
            }
          }
        }
        .data-item{
          &:not(:last-of-type){
            margin-block-end: 0.5em;
          }
        }
        .intro-text{
          margin-block-end: 1em;
          font-weight: $space-grotesk-bold;
        }
        .ending-text{
          margin-block-start: 1em;
          font-style: italic;
          font-size: 0.8em;
        }
        .separation-dot{
          width: 0.3em;
          height: 0.3em;
          aspect-ratio: 1/1;
          background-color: semantic-color(text);
          display: inline-block;
          border-radius: $pill-radius;
          margin-inline: 0.5em;
        }
      }
    }
  }
}