$surface-border: solid 1px rgba($pure-black, 0.1);
$surface-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.25);
@mixin frosted-surface{
  background-color: rgba($pure-white, 0.7);
  border: $surface-border;
  box-shadow: $surface-shadow;
}
$web-orange: #FF8D3D;
.website{
  --content-padding: 2rem;
  --color-link: #000000;
  background: linear-gradient(180deg,rgba($web-orange, 0.4) 0%, rgba($web-orange, 0.1) 100%);
  margin-top: 2rem;
  // TODO this overflow-x is not working
  overflow-x: hidden; //To handle the negative margin on the footer
  font-family: $space-grotesk;
  @include breakpoint(small only){
    overflow-x: clip;
    overflow-y: visible;
    --content-padding: 1rem;
  }
  p{
    padding: 0;
    margin: 0;
  }
  h2{
    font-family: $space-grotesk;
    font-weight: $space-grotesk-bold;
  }
  .grid-content{
    position: relative;
  }
  .watermark-wrapper{
    position: absolute;
    height: 100%;
    overflow: hidden;
    margin-left: -14%;
    .watermark{
      font-size: 25rem;
      font-weight: $space-grotesk-bold;
      color: rgba($web-orange, 0.07);
      // color: red;
      filter: blur(2px);
      line-height: 1;
      margin-top: -7%;
    }
  }
  .header, .main-content, .footer{
    z-index: 2;
  }
  .header{
    @include frosted-surface;
    padding: var(--content-padding);
    margin-top: -1px;
    border-radius: 0 0 calc($tile-radius + var(--content-padding)) calc($tile-radius + var(--content-padding));
    .content{
      @include frosted-surface;
      padding: 0.5rem 1rem;
      border-radius: $tile-radius;
      a{
        color: inherit;
      }
    }
  }
  .main-content{
    padding-inline: var(--content-padding);
    padding-block: calc(var(--content-padding) * 2);
    .description{
      font-size: 1.125rem;
      text-wrap: pretty;
      &:last-of-type{
        margin-block-start: 1em;
      }
    }
    .callouts{
      $icon-padding: 0.75rem;
      $icon-size: 2rem;
      @include breakpoint(small only){
        margin-block-start: 2rem;
      }
      .feature-container{
        font-weight: $space-grotesk-bold;
        .icon{
          aspect-ratio: 1/1;
          padding: $icon-padding;
          background-color: $web-orange;
          border-radius: $pill-radius;
          margin-inline-end: 1rem;
          border: $surface-border;
          box-shadow: $surface-shadow;
          svg{
            width: $icon-size;
          }
        }
      }
      .connector-wrapper{
        width: calc($icon-size + $icon-padding + $icon-padding);
      }
      .connector{
        width: 3px;
        height: 3rem;
        background-color: $pure-black;
        border-radius: $pill-radius;
        margin-block: 0.5rem;
        @include breakpoint(small only){
          height: 2rem;
        }
      }
    }
  }
  .footer{
    @include frosted-surface;
    padding: var(--content-padding);
    margin-bottom: -1px;
    border-radius: calc($tile-radius + var(--content-padding)) calc($tile-radius + var(--content-padding)) 0 0;
    --card-gap: 1em;
    gap: var(--card-gap);
    @include breakpoint(small only){
        --card-gap: 0.5em;
      }
    .stat-card{
      @include frosted-surface;
      padding: 1em 1.5em;
      border-radius: $tile-radius;
      //Number of cards per row = --numb-cards
      --numb-cards: 4;
      //The sum of the gaps between all items in the row (--numb-cards)
      --gap-total: calc((var(--numb-cards) - 1) * var(--card-gap));
      width: calc((100% - var(--gap-total)) / var(--numb-cards));
      p{
        line-height: normal;
      }
      .stat-title{
        font-size: 1.5em;
        font-weight: $space-grotesk-bold;
      }
      @include breakpoint(small only){
        --numb-cards: 2;
      }
    }
  }
}