.wrap-up{
  margin-top: 10rem;
  margin-bottom: 10rem;
  @include breakpoint(small only){
    margin-top: 0;
    margin-bottom: 3rem;
    font-size: 1.25em;
  }
  .text-card{
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: $tile-radius-big;
    padding: 2rem;
    position: absolute;
    width: 40%;
    aspect-ratio: 5/6;
    z-index: 2;
    top: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); //centering vertically and horizontally
    background-color: $pure-white;
    rotate: 2deg;
    h2{
      font-family: $poppins;
      font-weight: $poppins-bold;
    }
    .share-area{
      align-self: flex-end;
      --share-item-spacing: 0.25em;
      .words{
        font-size: 1em;
        @include breakpoint(small only){
          text-align: center;
        }
        p{
          line-height: 1.2;
        }
        .enjoyed{
          font-weight: $lato-black;
        }
      }
      .icon-wrapper{
        margin-inline-end: calc(var(--share-item-spacing) * -1);
      }
      p{
        margin: 0;
        padding: 0;
      }
      .link-wrapper{
        transition: $sprint;
        // aspect-ratio: 1/1;
        &:nth-of-type(1){
          // rotate: -6deg;
          &:hover{
            rotate: -12deg;
          }
        }
        &:nth-of-type(2){
          // rotate: 3deg;
          &:hover{
            rotate: 9deg;
          }
          .share-item{
            // margin-inline-start: 0.5em;
          }
        }
      }
      .share-item{
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.25em;
        padding: var(--share-item-spacing);
        color: $pure-black;
        width: 2.5em;
        svg{
          width: 100%;
          path{
            fill: semantic-color(text);
          }
        }
        @include breakpoint(small only){
          font-size: 2.5em;
        }
      }
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
  }
  .thumbnail {
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
    border-radius: $tile-radius-big;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #2a2a2a;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    &:hover{
      // transform: scale(1.05);
      // box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
      img {
        transform: scale(1.1);
      }
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease, opacity 0.3s ease;
    }
    &[data-index="0"] {
      grid-column: 1;
    }
    &[data-index="1"] {
      grid-column: 2;
    }
    &[data-index="2"] {
      grid-column: 4 / span 2;
      aspect-ratio: 2/1;
    }
    &[data-index="3"] {
      grid-row: 2;
      grid-column: 1 / span 2;
      aspect-ratio: 2/1;
    }
    &[data-index="4"] {
      grid-row: 2;
      grid-column: 4;
    }
    &[data-index="5"] {
      grid-row: 2;
      grid-column: 5;
    }
  }

  .lightbox {
    // TODO Check if this will resolve the slight shift when the thumbnail closes
    // scrollbar-gutter: stable;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    &.active {
      opacity: 1;
      visibility: visible;
    }
    .lightbox-content {
      position: relative;
    }
    img {
      border-radius: 40px;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
      display: block;
    }
  }

  .animation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    pointer-events: none;
    transition: background 0.5s ease;
    &.active {
      background: rgba($pure-black, 0.75);
      backdrop-filter: blur(30px);
      -webkit-backdrop-filter: blur(30px);
    }
  }

  .close-btn {
    position: absolute;
    top: 2em;
    right: 2em;
    aspect-ratio: 1/1;
    border-radius: $pill-radius;
    background-color: rgba($pure-black, 0.25);
    padding: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $sprint;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    &:hover {
      background-color: rgba($pure-black, 0.5);
    }
  }
  --button-size: 8em;
  .nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba($pure-black, 0.75);
    padding: 1.5em;
    cursor: pointer;
    border-radius: $pill-radius;
    transition: $sprint;
    width: var(--button-size);
    aspect-ratio: 1/1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    z-index: -1;
    display: flex;
    align-items: center;
    svg{
      width: 2em;
    }
    &:hover {
      background-color: rgba($pure-white, 0.15);
    }
  }
  .prev-btn {
    left: calc(var(--button-size) / -2);
    justify-content: start;
  }
  .next-btn {
    right: calc(var(--button-size) / -2);
    justify-content: end;
  }
  .counter {
    width: 100%;
    background-color: rgba($pure-black, 0.75);
    border-radius: 40px;
    padding: 0.5em 1em;
    margin-block-start: 0.5em;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
    // TODO maybe need to adjust the positioning here when the caption is longer than a single line, eg mobile.. might need to be calculated on the fly
    position: absolute;
    bottom: -3em;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1rem;
  }
}

// This needs to sit outside of .wrap-up as the image inserted at the root
.animating-image {
    position: fixed !important;
    z-index: 1001;
    border-radius: 40px;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }